[2009-04-27 12:20] jonmagic opened #1 "Readme install instructions are incorrect."
Currently they read

git clone git@github.com:hjkp/ohai.git

but it should be

git clone git://github.com/opscode/ohai.git

[2009-04-27 12:28] #1 closed, assigned to nobody

[2009-05-07 14:51] delano opened #2 "Error in Ruby 1.9.1"
I get the following error when running bin/ohai with Ruby 1.9.1:

opscode-ohai-0.1.2/lib/ohai/plugins/ruby.rb:21:in `[]=': can't convert Symbol into Integer (TypeError)

[2009-05-29 13:09] rdp opened #3 "doesn't install in windows"
currently in doze:

D:\dev\downloads\ohai>rake install
(in D:/dev/downloads/ohai)
mkdir -p pkg
WARNING:  no rubyforge_project specified
WARNING:  description and summary are identical
WARNING:  deprecated autorequire specified
  Successfully built RubyGem
  Name: ohai
  Version: 0.2.1
  File: ohai-0.2.1.gem
mv ohai-0.2.1.gem pkg/ohai-0.2.1.gem
sudo gem install pkg/ohai-0.2.1
'sudo' is not recogniz

[2009-07-21 03:06] mrflip opened #4 "Fails on OSX with fink-installed hostname"
The coreutils version of hostname, installed by fink, doesn't take an '-s' flag:

[code]

The BSD version of the command does.

I changed the last part of /usr/local/lib/ruby/gems/1.8/gems/opscode-ohai-0.1.2/lib/ohai/plugins/darwin/hostname.rb to read:

fqdn from("hostname")
begin
  hostname from("hostname -s")
rescue
  hostname fqdn.gsub(/..*/, "")
end

[2009-07-21 03:06] mrflip opened #5 "Fails on OSX with fink-installed hostname"
The coreutils version of hostname, installed by fink, doesn't take an '-s' flag:

[code]

The BSD version of the command does.

I changed the last part of /usr/local/lib/ruby/gems/1.8/gems/opscode-ohai-0.1.2/lib/ohai/plugins/darwin/hostname.rb to read:

[code]

[2009-12-02 17:34] chalfant opened #6 "ec2.rb fails for vpc instances"
In lib/ohai/plugins/ec2.rb, has_ec2_mac? fails on vpc instances because their MAC addresses do not match the value specified.

[2014-05-21 22:11] #6 closed, assigned to nobody

[2014-05-21 22:11] #5 closed, assigned to nobody

[2014-05-21 22:11] #4 closed, assigned to nobody

[2014-05-21 22:11] #3 closed, assigned to nobody

[2014-05-21 22:12] #2 closed, assigned to nobody

[2014-07-02 01:42] jaymzh opened #351 "Ohai should use lsblk instead of (or in addition to) blkid"
Ohai discovers filesystems with blkid specifically to discover umounted filesystems, but blkid is quite bad at discovering these.

For example, note what blkid finds:

[code]

Now note what lsblk finds:

[code]

Note that blkid CAN tell you things about the extra device:

[code]

Something like this would be more useful to Ohai:

[code]

Now, in case you're interested WHY this crap happens, there

[2014-07-07 18:14] btm opened #356 "undefined method `to_json' for 24:IPAddress::Prefix32 (NoMethodError)"
Failing on my Windows 8.1u1 development workstation @fd7b5a1f8b653af938642f354216523bd3e3e3b9

[code]

[2014-07-07 20:25] #356 closed, assigned to nobody

[2014-07-08 16:44] rmaskara opened #360 "AIX: getting unable to detect ipaddress and macaddress from ohai"
### Version:

Ohai: 7.0.4
### Environment:

AIX 6.1.0.0
### Scenario:

I am trying to use chef-solo and I am not able to run that.
### Steps to Reproduce:

/opt/chef/bin/chef-solo -c /u/home/rmaskara/.chef/solo.rb -j /u/home/rmaskara/.chef/node.json
### Expected Result:

The recipe defined in node.json file is installed:
{
  "run_list": [ "recipe[curl]" ]
}
### Actual Result:

I get this:
[2014-07

[2014-07-10 04:06] juliandunn opened #362 "add virtualization plugin to AIX to detect LPARs and WPARs"
This would be a nice-to-have before we ship the AIX client for real.

Minimally, the virtualization plugin would call `uname -L` to determine if running in an LPAR.

It would also call `uname -W` to [determine if running in a WPAR](https://www.ibm.com/developerworks/community/blogs/aixpert/entry/am_i_a_wpar_workload_partition_or_just_a_regular_aix3?lang=en). Returns 0 if not, the integer number of

[2014-08-04 18:04] #362 closed, assigned to nobody

[2014-08-05 09:14] damacus opened #380 "ohai detects wrong ipv6 address"
I'm not sure if I've missed something in diagnosing this one so bear with me.

We've disabled ipv6 on the our redhat 5.10 machines and I think as a result ohai is still detecting a IPv6 address, the address reported is an IPv4 addr.

We're using chef-client 11.12.8

[2014-08-05 13:59] jeffbyrnes opened #381 "Ohai doesn’t differentiate between EC2 node being EBS- vs. instance-backed"
Perhaps I’m missing something, but I’m unable to find it anywhere, nor can I find an Ohai plugin that provides this.

It seems that, even for an EBS-backed instance, Ohai reports `['ec2']['block_device_mapping_ephemeral0']` as having a value, which seems misleading.

Additionaly, it doesn’t make mention of whether or not an instance is EBS-backed.

[2014-08-05 22:44] brauliobo opened #382 "GCE Plugin infinite loop"
How to disable it with knife solo?
https://github.com/opscode/chef/issues/1756

[code]

[2014-08-12 18:06] aclowes opened #383 "Segmentation fault when using Ohai 7.2 with Chef 10.22"
To reproduce, install chef 10.22 with the latest ohai 7.2. Tested on ubuntu 12.04 and Amazon Linux 2014.3.

[code]

Run 'chef-client' and you'll get a segmentation fault like this:

[code]

[2014-08-12 19:11] #383 closed, assigned to nobody

[2014-08-13 16:17] #360 closed, assigned to nobody

[2014-08-15 20:54] jaymzh opened #388 "linux::network plugin doesn't handle ECMP routes"
If you add ECMP routes to yoru routing tables, the output of `ip route show` looks like:

[code]

Which linux::network can't parse because it's multipe lines so you get errors like:

[code]

(the newline in there is somewhat comical too).

This should probably use `-o` though that will significanlty change the parsing. In this case that produces this output:

[code]

[2014-08-16 09:01] #388 closed, assigned to jaymzh

[2014-08-22 20:46] juliandunn opened #396 "AIX: always use "netstat -rn" rather than "route" to get network information"
On AIX, "route" is a privileged command, which means normal users cannot run it. Because we use that to get network information, any invocations of Ohai as non-root will cause Ohai not to return any data and also display a warning that `macaddress` and `ipaddress` could not be detected.

Chef internal kanban: AIX-48

[2014-08-24 18:06] ghost opened #397 "ohai WARN: unable to detect ipaddress, macaddress"
Ohai: 7.2.4
app chef # ohai > test.ohai
[2014-08-23T05:08:39+03:00] WARN: unable to detect ipaddress
[2014-08-23T05:08:39+03:00] WARN: unable to detect macaddress
app chef #

it did at least detect the gateway:

[code]

network info :
[code]

other info
[code]

[2014-08-27 09:54] josacar opened #399 "Ohai detects server inside gce under specific conditions"
### Version:
7.2.4

### Environment
Debian Squeeze and Wheezy under EC2 cloud

### Scenario:

In a EC2 cloud, fter Ohai sets automatic attributes in a chef run, `cloud` attribute contains empty values in IP fields:

[code]

Also debug cloud plugin output:

[code]

This is due [gce_metadata mixin](https://github.com/opscode/ohai/blob/master/lib/ohai/mixin/gce_metadata.rb#L24) is connecting to a hos

[2014-09-03 14:50] kamaradclimber opened #405 "Platform version is missing on archlinux platform"
When running ohai, on archlinux, platform_version is not filled.

This comes from archlinux having no "version" per se since it is a rolling release distro.
https://github.com/opscode/ohai/blob/7-stable/lib/ohai/plugins/linux/platform.rb#L84 makes it clear.

Hovewer, the comment on https://github.com/opscode/ohai/blob/7-stable/lib/ohai/plugins/linux/platform.rb#L85 suggests we could use the kernel

[2014-09-05 21:11] johntdyer opened #406 "How do include just cpu plugin"
Hello,

 I am trying to use Ohai outside of Chef and I want to just include the cpu plugin but I am having issues

[code]

It does work if I do

[code]

but that is slower and I would like to avoid that is possible.  I thought this worked in Ohai 6 but I guess the api changed in 7 and I am hoping you guys can help set me straight.   Thanks!

-John

[2014-09-10 18:34] #406 closed, assigned to nobody

[2014-09-10 21:02] jasonroelofs opened #409 "Ohai does not see EC2 VPC instances as EC2"
Looks like this has been a bug for a long time: #6

VPC instances don't have the same Mac address. Amazon is now requiring VPC usage so more people will start running into this. For example, my current server has the following:

[code]

https://github.com/opscode/ohai/blob/master/lib/ohai/plugins/ec2.rb#L32

[2014-09-10 23:11] #409 closed, assigned to nobody

[2014-09-15 21:00] mcquin opened #412 "Safe attribute creation"
Currently, plugin authors have to write `attribute Mash.new unless attribute` to prevent previous data set on `attribute` from being overwritten. Plugin authors also have to ensure that existing plugins do not accidentally overwrite `attribute` when writing plugins that add data to `attribute`.

It would be nice if attributes could be created automatically and safely. We can harness the use of `pr

[2014-09-18 20:27] dragolabs opened #415 "ohai ipaddress returns loopback address on servers virtualized through OpenVZ"
So what about OHAI-237 feature? In short: in openvz guest system ohai detect ip 127.0.0.2. not real.
More info and patch available in JIRA thread: https://tickets.opscode.com/browse/OHAI-237?focusedCommentId=49337&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-49337

[2014-09-30 20:15] scotthain opened #420 "Getting null domain for Solaris nodes upgraded from Ohai 6.18 to Ohai 7.x"
Moving issue from Chef repo to Ohai repo: https://github.com/opscode/chef/issues/2139

Original:

We are seeing domain results of "null" when running Ohai 7.4.0. This is happening on the Solaris 10 nodes that we are attempting to upgrade from an older version of the Chef client. Here are some relevant snippets from running Ohai before and after the upgrade:

BEFORE: (using Ohai 6.18.0)

"hostname"

[2014-09-30 21:32] #381 closed, assigned to nobody

[2014-10-02 20:45] juliandunn opened #422 "make hint system more user-friendly"
The mechanism by which users pass in hints to Ohai is not the most user-friendly (JSON blobs that are either empty or with mysterious contents). Could we consider refactoring it to just be a configuration flag?

[2014-10-06 14:37] werkt opened #423 "Invalid pid, name used after sigar fails to throw exception"
Filed a bug with sigar (https://github.com/hyperic/sigar/issues/48), but observed this through chef/ohai, so it is susceptible to it now and can be worked around.

The rescue call in lib/ohai/plugins/network_listeners.rb is insufficient to prevent invalid pids from being used.  After sigar throws an exception for a single 0 pid (its invalid pid return) call to proc_state, all subsequent proc_state

[2014-10-08 10:10] barnabear opened #424 "Ohai supports Raspbian but not Pidora"
Good to see that Ohai supports Raspbian (Debian on Raspberry Pi). However Pidora (Fedora on Raspberry Pi) is not supported.

[2014-10-09 15:22] bkw opened #425 "openstack kvm guest not detected by virtualization plugin"
On a vm running on an openstack compute node using kvm:

[code]

The virtualization plugin somewhat arbitrarily assumes that when kvm modules are present we must be a host. In my case the machine does have the modules loaded, but really is a guest:

[code]

Openstack seems to be detectable reliably by dmidecode:
[code]

I'd supply a pull request, but I don't know what to put into the `system` key.

[2014-10-09 23:36] jf647 opened #426 "Undefined Method to_json for 22:IPAddress::Prefix32"
The behavior described in #356 appears to have returned following the removal of the monkey patch.

I'm trying to follow what happened - the fix to #356 added a monkey patch, then a few weeks later the monkey patch was removed and the JSON.parse was replaced with FFI_Yajl::Parser.parse, but it's not clear whether any tests were added to cover the original reported error in #356.

This is with a fr

[2014-10-10 20:56] #426 closed, assigned to nobody

[2014-10-15 02:17] #396 closed, assigned to nobody

[2014-10-18 19:38] jgoldschrafe opened #432 "cloud_v2 fails to initialize on GCE hosts without external IP"
On private hosts without an external IP address, ohai fails to initialize `cloud_v2` with:

    [2014-10-18T19:34:36+00:00] DEBUG: Plugin CloudV2 threw #<RuntimeError: ERROR: the ohai 'cloud' plugin failed with an IP address of '' : invalid address>

This appears to be caused by an empty `externalIp` in `gce['networkInterfaces']`:

    "networkInterfaces": [
       {
         "accessConfigs": [

[2014-10-19 19:06] miketheman opened #434 "No CHANGELOG.md updates for 7.4.0"
Nothing since 7.2.4 to denote what's in 7.4.0, nor is there a section for 7.6.0 which is currently in RC status.

[2014-10-21 18:51] #434 closed, assigned to nobody

[2014-10-22 20:48] docwhat opened #435 ""ohai -d" doesn't work in windows"
`ohai -d c:\chef\ohai_plugins` doesn't seem to work in Windows.  Nothing I could do would make it work.

Even worse, when I tried `cd c:\chef\ohai_plugins ; ohai -d .` It generated errors like it was trying to load the ohai/lib directory as plugins! (woops!)

I think something is wrong with the code that accepts that directory path and it isn't expanding it at program start.

[2014-10-23 15:57] #424 closed, assigned to nobody

[2014-10-23 16:01] barnabear opened #436 "Need new attribute target_architecture and plugin to set it"
Reference discussion https://github.com/opscode/omnibus/issues/352

There is need for an attribute to contain the target architecture for compiling/packaging in Omnibus.

This is due to confusion in Ominibus when building/packaging on/for Raspbian and Pidora (Raspberry Pi). uname -m yields "armv6l", Raspbian needs "armhf" and Pidora needs "armv6hl".

Other special cases may arise, but these are th

[2014-10-24 14:31] #436 closed, assigned to nobody

[2014-11-30 02:13] tas50 opened #440 "Zend Engine and Zend OPcache versions should be exposed in PHP plugin"
I'd like to add the Zend Engine version and Zend Opcache version to the PHP plugin.  This data is really important for determining how you should template out the php.ini file and would be really helpful for anyone doing wordpress.  Before I go and toss something together I'm curious what Chef folks think the best way to handle the output would be.

Here's the current output:
    "php": {
      "v

[2014-12-04 17:22] bixu opened #444 "Feature Request: expose binary, library and configuration file paths as automatic attributes per-platform"
I have used a cookbook I've written to accomplish this in the past (https://github.com/bixu/paths), but I feel like this would be better provided by ohai.  Accessing these attributes might then look like this:

[code]

Having this built into ohai would go a long way towards fulfilling the promise of truly cross-platform automation (80-90% of the issues I wrestle with on non-Ubuntu platforms are ju

[2014-12-10 01:24] pvandervelde opened #445 "Segfault in Ohai when trying to run chef-client via the chef gem"
### Version:
chef 12.0.0 with the patch for opscode/chef#2560

### Environment:
Windows 8.1
Installed ruby 2.1.3 and ruby2.devkit via chocolatey

Installed gems:
bigdecimal (1.2.4)
builder (3.2.2)
chef (12.0.0)
chef-zero (3.2.1)
chefspec (4.1.1)
coderay (1.1.0)
diff-lcs (1.2.5)
erubis (2.7.0)
fauxhai (2.2.0)
ffi (1.9.6 x64-mingw32)
ffi-yajl (1.3.1)
foodcritic (4.0.0)
gherkin (2.12.2)
hashie (2.1.2

[2014-12-20 06:16] hiremaga opened #451 "sudo ohai reports root as current_user instead of the value of SUDO_USER"
This behavior appears to have changed in fec9467a. Unfortunately the change breaks nearly all the recipes in [Pivotal Sprout](https://github.com/pivotal-sprout), which is normally run with sudo on OS X.

Was this change intentional?

Previously:

[code]

Now:

[code]

[2014-12-22 16:04] #451 closed, assigned to nobody

[2014-12-26 17:16] thoughtcroft opened #453 "ruby config detection no longer works in ruby version 2.2"
Using ::Config for detecting the various config settings which are populated into node[:languages][:ruby] has been deprecated since 1.9.3.  In ruby 2.2.0, this has been removed.  The recommended way is to use RbConfig, which works.

    ruby -e "require 'rbconfig'; puts %Q(bindir=#{::Config::CONFIG['bindir']})"
    -e:1:in `<main>': uninitialized constant Config (NameError)

    ruby -e "require '

[2015-01-09 09:02] runningman84 opened #456 "ohai doesn't recognize cloud metadata in aws ap-southeast"
I have two machines, one is located in Irland another in Australia.

The machine in Irland shows cloud metadata in ohai:
[code]

The machine in Australia doesn't show any metadata in ohai:
[code]

[2015-01-09 20:37] drag00n commented on #435
I just tried this myself and it seems to work now. I'm using chef-client v12.0.3

[2015-01-12 11:47] DracoAter opened #457 "FQDN Incorrectly Determined to be "localhost" on OS X"
Hello,

Didn't find anything concerning this bug https://tickets.opscode.com/browse/OHAI-585
Still takes place in 7.4.0.

[2015-01-12 12:53] lamont-granquist commented on #457
You need to use `node['machinename']` not `node['fqdn']`.  fqdn is defined to be the resolved FQDN via DNS lookups (`hostname -f` in linux) while the machinename is just the configured hostname.

[2015-01-12 12:53] #457 closed

[2015-01-13 00:57] forehand commented on #445
I get "c:/opscode/chef/embedded/lib/ruby/gems/2.0.0/gems/wmi-lite-1.0.0/lib/wmi-lite/wmi_instance.rb:38 [BUG] Segmentation fault ruby 2.0.0p451 (2014-02-24) [i386-mingw32]" on windows server 2012 r2 with chef client 12.0.1 and 12.0.3.

[2015-01-13 02:56] lamont-granquist commented on #445
This is a dup of a bug that has been fixed in chef master already and will be released in chef 12.1.0

We also do not support gem installs into random ruby versions, particularly on windows.  The omnibus packages on windows were shipped with ruby 2.0.0 specifically because this bug prevented using ruby 2.1.3.  If you want to install gems you need to install the exact same ruby interpreter version

[2015-01-13 02:56] #445 closed

[2015-01-13 11:46] runningman84 commented on #456
The problem occurs if you start an instance in a vpc. Funny enough everything is working fine using ec2metadata tool.

[2015-01-15 02:42] pvandervelde commented on #445
Thanks. Is it documented on the web anywhere which ruby interpreter version that is being used for the omnibus packages (except in this issue)?

[2015-01-27 13:50] josqu4red opened #469 "Linux filesystems plugin report wrong fs-type for logical volumes"
Hello,

I'm having this issue with Ohai 8.0.1 on Debian 7.
Affected hosts have LVM volumes on hardware RAID card.

```lsblk``` (from util-linux 2.20.1) output is:
[code]
which is matched with ```/^(\S+) (\S+)/``` thus giving this output:
[code]

Suggestion: change ```lsblk``` arguments:
[code]

Thanks

[2015-01-27 14:53] jmauro opened #470 "DMI plugin stripping issue"
Hi everybody,

There is a slice issue when using the dmi plugins on windows the parsing of dmidecode doesn't strip the reponse so every value has a '\r'.

Regards,
JM

[2015-02-02 11:06] jmauro commented on #470
A pull request has been created:
https://github.com/chef/ohai/pull/474

[2015-02-03 13:11] alex-williams commented on #445
I've hit this in 12.0.3, using the omnibus installer for Windows, is this also fixed in 12.1.0 for Windows? When can we expect a release? You've closed this 21 days ago, because it dupes another bug that is supposedly fixed in master, but you haven't linked to the bug it dupes, can I get a link to that, so I can follow it's release progress? We're about to go into production, using Chef 12, but if

[2015-02-04 18:07] lamont-granquist commented on #351
think this is done, closing.

[2015-02-04 18:07] #351 closed

[2015-02-04 18:12] lamont-granquist commented on #382
Does this still replicate on ohai-8.0.x and chef-12?

Also, we don't support non-omnibus installs of chef that I can see that you're doing in /usr/lib/ruby and we're dropping support for 1.9.x in Chef-12.1.0 (the gem will no longer install on that ruby).

[2015-02-04 18:17] lamont-granquist commented on #399
Yeah, PR to add the dots would be accepted.

[2015-02-04 18:21] lamont-granquist commented on #412
Yep this design sounds good, needs implementation.

[2015-02-04 18:22] smurawski commented on #412
:+1:

[2015-02-04 18:27] charlesjohnson commented on #412
+1

[2015-02-04 18:32] danielsdeleo commented on #412
:+1:

[2015-02-04 18:33] lamont-granquist commented on #415
If someone wants to extract the patch from jira and submit a PR that would be useful.

[2015-02-04 18:41] mcquin commented on #412
I wrote this before we started the RFC process. Should I put something regarding this there? O/w happy to start working on it. :)

[2015-02-04 18:47] lamont-granquist commented on #420
So here's my notes from the commit that probably broke this:

[code]

In Ohai 8 we standardized that the fqdn would be derived from DNS lookups (like `hostname -f` on linux) across all platforms and that the domain would be resolved as the trailing part of the fqdn.  This cleaned up a considerable amount of mess across what those attributes meant across all the platforms, this also fixed bugs that

[2015-02-04 18:58] lamont-granquist commented on #425
Did #463 fix this?

[2015-02-04 18:58] smurawski commented on #423
This is definitely a valid bug, but likely won't make our backlog since it is a edge case.  We'd be happy to take a patch or PR to resolve this issue.

If you think that this is a more pervasive issue, I'd love to hear the impact and that may change our evaluation of the issue.

[2015-02-04 18:59] lamont-granquist commented on #435
closing since this appears to be fixed.

[2015-02-04 18:59] #435 closed

[2015-02-04 19:00] #453 closed

[2015-02-04 19:04] lamont-granquist commented on #469
@jaymzh can you take a look at this?

[2015-02-04 19:07] lamont-granquist commented on #444
@someara would this reduce duplication and conditionals in the community cookbooks?

[2015-02-04 19:08] lamont-granquist commented on #456
Does using the hinting system for ohai fix this?  I seem to recall if you're using VPC that you have to use hints.

[2015-02-04 19:13] someara commented on #444
I remember liking this idea last year when I first saw it, but it doesn't really have anything to do with the current approach I'm taking... not a huge fan of node attributes at the moment.

I'll have to take a closer look at this after I crank a few more cross-platform things out.

[2015-02-04 19:21] danielsdeleo commented on #412
Doesn't seem particularly large or controversial to me.

[2015-02-04 19:24] adamedx commented on #412
There's a question of how we get this in -- happy to have you do the contribution @mcquin if you have slack, otherwise we're trying to identify a way to slot this to people that have bandwidth and prioritization to do it.

Let us know if you're go though @mcquin, assuming you have the time, and no pressure if you don't. We're in agreement we'd like to get this in eventually.

[2015-02-04 19:36] lamont-granquist commented on #444
It might be better to put sugar methods into the Chef DSL for this?

[2015-02-04 21:09] jaymzh commented on #415
I really wish there was a more generic solution. On systems with tunl0 or iptnl0 it catches those too. If you don't have a default route it completely throws the logic as well. Meh.

[2015-02-05 07:25] jvanbaarsen commented on #382
@lamont-granquist I finally installed a vagrant box with chef succesfully yesterday, but im not sure if its because I switched to VMWare provider or an update in chef / ohai. I'll look at that later this week.

[2015-02-05 14:07] bixu commented on #444
@someara, I'd *love* to discuss this with you in more detail if you'd be up for that.  I'm on Berlin time (as I think you know), but can make myself available for a chat over IRC/Hangouts, whatever if it's helpful.

Generally excited to see this as it would move us a long ways towards the promise of one cookbook artifact for all platforms.

[2015-02-05 17:09] lamont-granquist commented on #444
Yeah I don't see any value in having these and node attributes and there's too much that can go wrong.  For changing the defaults we should probably wire it up to Chef::Config so that users can override them if they need to (if users really desire to build a footgun then the chef-client cookbook can drop config settings based on node attributes and people can go to town).  And these should be DSL

[2015-02-05 20:41] bixu commented on #444
I'm a little unclear how these new DSL methods might look - maybe some pseudo-code to show me what you are thinking?  Or do you mean simply exposing a method that would be used in a way similar to how we use Chef::Config[:file_cache_path]?

I do very much understand the desire to protect people from building footguns :) - that's in fact why I was suggesting this for Ohai.  I'm happy to submit a fe

[2015-02-05 20:48] lamont-granquist commented on #444
like:

[code]

then you just define one method `def path_helper` in a DSL mixin.

its also even better to do this:

[code]

then you're not overriding anyone's variables or methods that they've defined in their recipes named 'path_helper'

we don't currently have any examples of doing the latter, but its being discussed in an active RFC right now.

[2015-02-06 14:39] bixu commented on #444
Very cool.  I look forward to using this!

[2015-02-08 11:46] alexdo commented on #382
Same problem here. Some of my nodes have a NATed network, all of them are encountering this error.
It seems to come down to [the GCE Metatdata Mixin which successfully establishes a socket to a non-resolvable GCE Metadata Endpoint.](https://github.com/chef/ohai/blob/06dd92339b2b4c1f3378166759c08eca4b10a10d/lib/ohai/mixin/gce_metadata.rb#L33) (as the aforementioned nodes are _not_ hosted at GCE)

I

[2015-02-09 17:21] SolverDude commented on #420
@lamont-granquist  In the Solaris environment which is the context of  this issue (a host having an NIS domainname set), this results in the fqdn (which the chef-client depends on Ohai to properly provide) being incorrect, and a chef-client which uses Ohai 7 no longer converges due to this issue.  In my opinion, characterizing this as 'correctly reflecting the environment based on the way they hav

[2015-02-10 14:27] werkt commented on #423
This caused roughly 1 in 20 chef-client runs to fail, segfaulting ruby.  With the workaround in place, we have not experienced a bad exit status for chef-client in 4 months (running at least 2/day).

[2015-02-10 20:17] lamont-granquist commented on #420
Yes, but we've *defined* node[:fqdn] as `hostname -f` behavior for consistency across platforms.  Constructing node[:fqdn] from the NIS domainname isn't the same thing, and the mess we had before where different operating systems had entirely different definitions of node[:hostname], node[:fqdn] and node[:domain] and did whatever they felt like to create those attributes was a huge mess.

[2015-02-10 20:32] lamont-granquist commented on #423
we'll need a PR to get this merged

[2015-02-11 09:53] svanharmelen opened #481 "Linux vs Windows filesystem plugin inconsistencies"
I just noticed that the Linux filesystem plugin uses strings for a couple of fields (see below) where the Windows filesystem plugin uses numbers for these same fields. This causes issues when trying to use the Ohai info from both Linux and Windows machines by any tool written in a statically typed language.

The fields in question are:
[code]

The fix is simple, so will add a PR for that shortly..

[2015-02-11 18:22] lamont-granquist commented on #425
I'm going to close this, if #463 didn't fix it, please re-open

[2015-02-11 18:22] #425 closed

[2015-02-11 18:28] lamont-granquist commented on #456
@btm isn't this problem with VPC nodes unable to determine if they're in EC2 which drove creating the hinting system in the first place?  This has nothing specific to do with ap-southeast, and there's really nothing to fix here?

[2015-02-11 19:13] tfitch commented on #440
Closing issue as PR #441 has now been merged.  Thanks @tas50!

[2015-02-11 19:13] #440 closed

[2015-02-13 18:42] mcquin commented on #412
I might have a dusty wip branch, but it's nothing special... @adamedx I don't have the spare time to work on this at the moment, so if someone wants to take it sooner I will support them on their venture.

[2015-02-17 17:50] btm commented on #399
merged #478 to master, hopefully released shortly baring any issues.

[2015-02-17 17:50] #399 closed

[2015-02-17 17:53] btm commented on #405
#473 has been merged. barring any testing issues this should make it into a release shortly.

[2015-02-17 17:53] #405 closed

[2015-02-17 20:00] tas50 opened #487 "Ohai 8.1 fails with error in Digital Ocean plugin"
OS X 10.10.2
Ruby 2.2

[code]

[2015-02-17 21:24] cburroughs opened #488 "plugins/linux/virtualization: lxc contains a check for a binary that does not exist upstream"
https://github.com/chef/ohai/blob/master/lib/ohai/plugins/linux/virtualization.rb#L26

There is no `lxc-version` binary part of the stable/LTS 1.0.x series of lxc releases.  It may have existed as part of older (0.8.0) releases.

[2015-02-17 22:33] jdmundrawala commented on #487
https://github.com/chef/ohai/pull/489

[2015-02-17 22:43] btm commented on #488
Looking at [LP #1273689](https://bugs.launchpad.net/ubuntu/+source/lxc/+bug/1273689), it looks like ```lxc-start --version``` is a good alternative for 1.0.0, but notably didn't exist previously so you have to try both.

[2015-02-17 23:04] btm commented on #432
This went out in Ohai 8.1.0 today, but there were some unrelated bugs. Expect another release shortly.

[2015-02-17 23:04] #432 closed

[2015-02-17 23:14] jdmundrawala commented on #487
Released Ohai 8.1.1

[2015-02-17 23:14] #487 closed

[2015-02-19 21:47] bixu opened #491 "ohai report TUN interface as 'privateaddress'"
This even when the TUN interface comes after the 'real' private NIC:

[code]

[2015-02-19 22:38] jmara commented on #397
Slightly different but ipaddress/macaddress and the whole network Mash is not detected on XenServer 6.5 which is Centos 5.10 based. Interface names have not changed, but "ip addr" acts weird :-/
[code]

Any ideas?

[2015-02-20 00:22] lamont-granquist commented on #397
XenServer 6.5 is probably #343

Please try to keep issues on one track.

[2015-02-20 08:04] jmara commented on #397
@lamont-granquist Sorry you are totally right, I only searched for Xen and #343 didn't pop up. I'll be more carefully in the future :)

[2015-02-20 23:18] scotthain commented on #420
I'm wondering if adding a secondary check would be acceptable for everyone. Seems like we already do this for linux as seen [here](https://github.com/chef/ohai/blob/7-stable/lib/ohai/plugins/hostname.rb#L118)

Since Solaris doesn't have a 'hostname -f' command, what if we added a check [here](https://github.com/chef/ohai/blob/7-stable/lib/ohai/plugins/hostname.rb#L142)
that falls back to running /

[2015-02-21 04:04] lamont-granquist commented on #420
I think that's just kind of a retry loop isn't it?  I think what I'd like to see is an RFC standard for this.

And the problem to me seems to be that people rely on fqdn, but the algorithm is buggy (hence the retry loop which is probably due to a DNS burp).  When I tried to standardize on behavior in ohai 7 dan was concerned that existing cookbooks (djbdns I think) may have a hard requirement for

[2015-02-21 04:06] lamont-granquist commented on #420
We need to make sure that we keep this algorithm in mind in the process:

https://github.com/chef/chef/blob/master/lib/chef/client.rb#L280

[2015-02-23 21:04] scotthain commented on #420
After talking to @lamont-granquist a bit about the best way to resolve this, I think this is what I'd propose we do -
1) Revert this change to fix the (sorta?) regression in the short term, knowing that it is not the 'correct' way.
2) Put in an RFC to make a breaking change that would in this order - derive from hostname, if not - use nis, if not - use dns. This should allow @SolverDude and compan

[2015-02-24 00:43] rmoriz opened #492 "DigitalOcean Metadata support"
(Feature request)
DigitalOcean now provides a metadata service over http, similar to AWS:
https://developers.digitalocean.com/documentation/metadata/

Would be nice to have such information with ohai (and chef).

[2015-03-10 22:14] andrewelizondo commented on #420
From what I can tell, the change @scotthain recommended sounds like it meets everyones needs. I'm :+1: on it.

[2015-03-11 20:40] smurawski opened #496 "Intermittent Build Failures - Travis CI"
Several pull requests have intermittent build failures attempting to output the results of Ohai.

There doesn't appear to be any difference in the PRs that build successfully and PRs that fail.

The error message is:
/home/travis/.rvm/gems/ruby-1.9.3-p551/gems/ffi-yajl-1.4.0/lib/ffi_yajl/encoder.rb:50:in `raise_error_for_status': Invalid UTF-8 string: cannot encode to UTF-8 (FFI_Yajl::EncodeError)

[2015-03-11 20:41] smurawski opened #497 "Missing Build badges on the master README.md"
We need to add the build badges for master to the README, so we can tell if master is in a consistent state.

[2015-03-11 20:49] cmluciano commented on #497
#495 should close this

[2015-03-11 20:54] cmluciano commented on #496
For an example you can look here at #495 where both commits triggered the error

[2015-03-17 17:33] bcg62 opened #500 "dmi processor all_records contains system slot information"
I’ve tried this on a few different hardware sets with version 8.0.1 and 7.4.1, the dmi attributes for processor seem to somehow include system slot information.

I’d expect the second block to be CPU 2, instead it has not specifed/x16 PCI Express 3

[code]

[2015-03-17 18:36] btm opened #501 "net-dhcp is GPL licensed, revert cloudstack contribution"
https://github.com/chef/ohai/commit/0054eb3fdb0c71b2b4aa26bff20a97e9e7d5c129 from #354 added the net-dhcp library which is GPL licensed: https://github.com/syonbori/net-dhcp-ruby/blob/master/lib/net/dhcp.rb#L25. We'll have to revert for now and ship with the Chef 12.1.2 release that we want to come out ASAP, unless @lndbrg can come up with an alternate patch within a day.

[2015-03-17 23:37] charlesjohnson commented on #420
:+1: as well.

[2015-03-18 06:19] sean-horn opened #503 "Ohai Should Be Able To Handle Binary UserData from ec2 Plugin"
Zendesk 3391

As customers, I, Amazon, and Atlassian would like to send binary userdata to EC2 instances.
This is implicitly allowed by AWS and the [cloud-init package] [1] and so Chef should allow it too.

When the current Ohai 8.1.1 tries to display any binary userdata at the end of its standalone run or during the node.save at the end of chef-client runs, it becomes sad, with

    /opt/chef/emb

[2015-03-18 17:12] apsoto commented on #503
Previously working chef run's on EC2 will suddenly start failing once binary data is passed to new instances, as we are experiencing.

In our case, the chef bootstrapped Elastic Build nodes for our CI/CD infrastructure on Bamboo OnDemand broke with a recent release of Bamboo OnDemand.  Bamboo changed the way it launches EC2 instances by compressing the userdata attribute to fit more data.

[2015-03-18 17:14] apsoto commented on #503
FYI - this issue was reported two years ago as well

https://tickets.opscode.com/browse/OHAI-516

[2015-03-23 04:14] evaryont opened #507 "Feature: Add a gigabit flag to interfaces that have been configured for 1Gbps+ network speeds"
I have a variety of devices, a few that have both megabit interfaces (10/100) and others that have gigabit speed interfaces (10/100/1000). Ohai doesn't seem to tell me if a given device is indeed configured as gigabit.

`ip addr` shows this:

[code]

And the output includes '1000' for eth0, which is gigabit.

Could ohai include a signal in the network/interfaces hashes that a particular interface

[2015-03-23 21:13] btm commented on #420
I've talked to people and there doesn't appear to be consensus around reverting this fqdn behavior, although it looked like there was. I'm going to step back and look at the best way to override this behavior for those who are blocked by it and personally work toward a plan within the next couple of weeks.

[2015-03-23 23:41] lamont-granquist commented on #420
Wrote up an RFC:

https://github.com/chef/chef-rfc/pull/108

[2015-03-24 19:46] tas50 commented on #456
This should get closed out.  EC2 detection is pretty basic and relies on a specific Xen like MAC address being seen.  I'm fairly confident that will not work with modern VPC AWS setups.  In order to reliably detect a node as being in EC2 you need the hint file to tip Ohai off that it should make a metadata call. It's not possible for Ohai to make metadata calls for every possible cloud provider wi

[2015-03-24 19:52] tas50 commented on #500
Seems like we should also be stripped trailing spaces off the data as well.  The processor version data is pretty messy here

[2015-03-24 20:08] tas50 commented on #397
I'd love if someone with a Gentoo box would try out https://github.com/chef/ohai/pull/510 and let me know if that fixes your issue.  The fix is based on the path that @BugRoger gave.

[2015-03-24 20:14] tas50 opened #511 "EC2 plugin doesn't handle data with line breaks"
I'm opening this issue to start the conversation about how this should get handled.  The EC2 metadata endpoint returns some key / value data with line breaks in it.  In particular the security groups have a line break in them.  This results in some pretty funky Ohai data that has to be manipulated before it can be used with a split on the /n.  Any thoughts on how we could resolve this in a backwar

[2015-03-25 17:17] bcg62 commented on #500
@tas50 yes that would also be helpful

[2015-03-25 19:47] curiositycasualty opened #512 "node['ipaddress'] unpopulated on Solaris when hosting zones"
The regex used to collect this attribute doesn't seem to handle the <interface>:<zone_interface> syntax if zones are present on the system.

Some example output of ifconfig -a from Solaris 11 and Solaris 10 respectively.
[code]

[code]

[2015-03-25 19:50] schisamo commented on #512
I'm seeing the same thing when running Ohai in a zone also:

[code]

[2015-03-26 17:40] btm commented on #420
@adamedx for now I think we write a different hostname.rb plugin, similar to my #508, and then create a custom bootstrap template that overwrites that file after Chef install but before the first run.

[2015-03-26 18:17] adamedx commented on #420
Can we just grab the old hostname plugin @btm? Then just do the custom bootstrap template. It could either overwrite the file, or just be a plugin that gets loaded last and overrides (i.e. monkeypatches) the "real" hostname plugin.

[2015-03-28 22:20] mcquin opened #514 "The kitten must die."
Remove the kitten after 4/4.

[2015-03-30 03:07] burtlo opened #515 "Missing memory information for windows systems"
I googled and found this ticket: https://tickets.opscode.com/browse/OHAI-463

I scanned through the platform specific plugins on Windows and found that the memory is still not being collected.

This information is fairly trivial to collect on Windows 2012R2. I assume that this command works on most of the supported windows platforms but I haven't the experience to know.

[code]

[2015-03-30 21:23] odcinek opened #516 "abort does not abort"
`abort` from inside plugin seems broken, message is being printed, but the run continues.
[code]

[2015-03-30 21:27] jaymzh commented on #516
Some context here - we need to able to - from an Ohai plugin, cause Ohai to completely fail and thus the chef run to fail. This used to be - in Ohai 6 - accomplished with `abort` (as opposed to `fail` which is just caught by the Ohai framework). This breaks us pretty badly. CC: @mcquin

[2015-03-31 21:04] tpowell-rms opened #517 "Ohai platform discovery broken on Centos 7.1"
A new release of centos-release occurred on March 27.
Ohai returns "derived" now for the platform value :-\

[code]

[code]

[code]

[code]

[2015-04-01 03:14] sean-horn commented on #516
This could be worked around in a recipe added anywhere in the run_list like `recipe[check-ohai-fail-run]` below

It checks for `node['awesome']['fatalerror']`

    raise "ouch, it hurts" if node['awesome']['fatalerror']

This flag would have been added to the node data by whatever caused a desired failure state in the Ohai plugin, like this in an Ohai7 or 8 plugin, for example

[code]

With the fo

[2015-04-01 08:31] jaymzh commented on #516
No, it can't. Because its triggered in an attribute file... and attributes files are not loaded in runlist order, so while we have technically have a check in this in an early attribute file, someone called a function in another attribute file that accesses this data, which broke Chef on the hosts where this ohai data was missing, but without the nice error message, and instead in an odd way.

[2015-04-01 18:16] nathwill commented on #517
from the [release notes](http://lists.centos.org/pipermail/centos-announce/2015-March/021006.html):

[code]

[2015-04-01 20:11] tpowell-rms commented on #517
Kwame: Let our powers combine. Earth!
Wheeler: Fire!
Linka: Wind!
Gi: Water!
Ma-Ti: Heart!
Kwame, Wheeler, Linka, Gi, Ma-Ti: Go, Planet!
Captain Planet: By your powers combined, I am Captain Planet.

[2015-04-01 20:35] sean-horn commented on #516
Ahh, ok.

This should do it then in the plugin's `collect_data` method.
I know it's hideous, but it does stop the run. `exit` will not stop the run in this version of Ohai, I believe because it is producing an exception in the same family as the one `#abort` produces

    exit!(123)

[2015-04-02 17:59] nathwill commented on #517
as noted by @bdwyertech in https://github.com/chef/opscode-omnitruck/pull/86, it looks like this change has been reverted by centos, so the associated PR may not be necessary.

that said, i'd love to see ohai use /etc/os-release as a primary source where it exists, as it's a lot more parseable and less prone to this kind of breakage.

[2015-04-02 19:42] phreakocious commented on #507
I recently ran into this as well and whipped up a simple ohai plugin that grabs the link speed and PHY type from ethtool as fields 'Speed' and 'Port' in the interfaces section.  https://github.com/phreakocious/ohai-plugins/blob/master/plugins/ethernet_layer_one.rb

[2015-04-04 01:16] jaymzh commented on #516
Wait. We're not calling `exit`, we're calling `abort` because in Ohai 6, that was the explicitly documented way to kill the Chef run from within Ohai.

I have no problem switching our code to `exit!` with a non-zero value... but is that a random hack, or is that the new "blessed" way?

[2015-04-06 17:36] tophercullen opened #519 "Cloud/Rackspace attributes not set on Windows Rackspace servers"
As a user, I want to be able to access windows nodes created in rackspace by their public IP. However, the public IP is unavailable because ohai isn't/can't set any of the cloud/rackspace metadata attributes in node[:rackspace], node[:cloud], or node[:cloud_v2].

[2015-04-06 21:57] svmastersamurai opened #520 "ohai & $load_path"
I'm trying to collect some information about the system via an ohai plugin I've written. The plugin utilizes some custom ruby classes I've developed to make things more modular. To get this to work I have a cookbook that will append to the $LOAD_PATH so it can find the classes I've written. This works when plugins are reloaded, but does not work on subsequent runs. Rather than having to reload all

[2015-04-07 00:23] tophercullen commented on #519
This is actually an issue with linux nodes as well. No public address information is available

[2015-04-08 05:49] svmastersamurai commented on #520
Digging through the code a bit
https://github.com/chef/chef/blob/master/lib/chef/client.rb
[code]
The enforce_path_sanity method call seems to make a call that strips bare the ENV['PATH'] environment variable which might be what is causing me trouble. I am going to speculate that when the plugins are reloaded within the context of a chef run this enables them to see the updated load path I am sett

[2015-04-09 01:52] apsoto commented on #503
This bug causes Chef to fail on EC2 nodes that pass binary data via userdata.  At the moment, any EC2 node I have to first launch, then ssh in, manually edit the ohai source on the box, and finally re-run chef-client.

What can we do to move this along?  Is there a way to use a forked/patched ohai ?

[2015-04-13 15:48] danielsdeleo commented on #516
IMO it's a bug and we should just make it work like before. FWIW, calling `exit!` will always exit in ruby since it exits the process immediately and skips all exception handling and such. `abort` is more or less an alias for `exit` which raises a `SystemExit` exception, which you can catch but usually shouldn't.

[2015-04-13 15:53] danielsdeleo commented on #516
I would guess the problem is here: https://github.com/chef/ohai/blob/8aea6701b5680b146a3f5a94eb34f9caf5c861b6/lib/ohai/runner.rb#L51 we probably need a `rescue SystemExit; raise` clause right before that.

[2015-04-14 07:04] theWeird opened #523 "cannot encode to UTF-8 (FFI_Yajl::EncodeError)"
I have the problem, that chef-client never writes back to the chef server. Instead it quits with a similar UTF-8 error message.

So I wanted to scan the output of ohai for invalid characters.

Instead I got another UTF-8 error message from ohai.

The chef-client machine is a debian wheezy system running as openVZ guest.

[code]

Last lines of output from 'ohai -l debug':

[code]

[2015-04-14 07:05] theWeird commented on #523
moved from https://github.com/chef/chef/issues/3216

[2015-04-14 17:57] theWeird commented on #523
I installed chef on the host server and on another openVZ guest.
Host node works fine, the other guest machine has the same error.

[2015-04-14 19:51] theWeird commented on #523
I ran ohai from command line on the host node and ran each plugin listed in the output on one of the openvz guests.
The problem is in plugin 'etc'
If I call `ohai etc` I get the known UTF8 error message.

[2015-04-15 17:43] juliandunn commented on #523
Do you have any user accounts with weird encoding in their names or GECOS fields?

[2015-04-16 13:24] jarosser06 commented on #519
Any chance you are using Rackspace OnMetal servers or that your servers are Rackconnected?

[2015-04-16 16:04] tophercullen commented on #519
They are VMs but I think they are using rackconnect. It looks like the public IP is even wrong in xen store because, for what ever reason, they change the ip address assignment mid provisioning.

[2015-04-16 16:27] jarosser06 commented on #519
Yeah the Rackspace Ohai Plugin doesn't fetch a public IP when they are Rackconnected.  Whenever the nodes first come up they are assigned a public IP then Rackconnect automation takes over which disables the public IP and adds the Rackconnect IP.

[2015-04-16 17:01] tophercullen commented on #519
I could understand if it was setting the wrong public ip, But its not setting any attributes at all.

[2015-04-16 21:30] jarosser06 commented on #519
Ohai assumes eth0 is the public net which is true excluding onMetal and Rackconnected servers.  eth0 gets disabled on a Rackconnected server so Ohai doesn't pull the address.  You might want to check out the public_info Ohai plugin and utilize that for the public net.

The Ohai code:
https://github.com/chef/ohai/blob/master/lib/ohai/plugins/rackspace.rb#L127

The plugin
https://github.com/rackspac

[2015-04-22 18:09] randyrue commented on #380
Having the same problem on CentOS 6.6/Chef 12.1.1/Ohai 8.1.1, in this case I can't use the snmp cookbook because it insists on configuring an ip6 source. Any suggestions?

[2015-04-22 18:20] thommay commented on #380
@randyrue, @damacus, @rarenerd  can you show us what the output of `ip addr` is please, and also `ohai network`.

[2015-04-22 19:03] randyrue commented on #380
[root@rooo ~]# ip addr
1: lo: <LOOPBACK,UP,LOWER_UP> mtu 65536 qdisc noqueue state UNKNOWN
     link/loopback 00:00:00:00:00:00 brd 00:00:00:00:00:00
     inet 127.0.0.1/8 scope host lo
2: eth0: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc pfifo_fast
state UP qlen 1000
     link/ether 00:50:56:9c:2d:7b brd ff:ff:ff:ff:ff:ff
     inet 140.107.88.66/23 brd 140.107.89.255 scope global eth0
[root@

[2015-04-23 13:06] rarenerd commented on #380
Tested in a Virtualbox with the opscode-centos-6.6 image:
[code]

[code]

[code]

[2015-04-27 16:25] #380 closed

[2015-04-28 02:10] cburroughs opened #529 "zpool plugin should support multiple platforms"
https://github.com/chef/ohai/blob/master/lib/ohai/plugins/solaris2/zpools.rb

Is as far as I can tell `solaris2` specific.  ZFS is now avialable in [many more place](http://open-zfs.org/wiki/Distributions).

Initial notes:
- On Linux not all devices start with `c` as the regex currently requires.  (For example, they might start with `ata`.)
- I'm not sure what magic allows `shell_out` to work inst

[2015-04-28 02:20] cburroughs opened #530 "zpool plugin should include topology/vdev details"
Currently the plugin only includes information on device ids and the numbers that `zpool status` kindly provides.  This are several reasonable questions that this is not sufficient to answer:
 * Are there spares left?
 * Is a cache or seperate log device available for performance?
 * Is there redundant storage?  How many disks can fail before data is lost?

I think sucking in the topology informat

[2015-04-28 03:19] coderanger opened #531 "Docker changed their cgroups format"
Example of new cgroups data:

[code]

For comparison, the old format is `2:cpuset:/docker/c4cd816cfb49b691ba502d06f02c99064f9905a735126a35b4719304c6eb95b6`. The regex at https://github.com/chef/ohai/blob/21bae8e115f6fa8103bb1a6e77af0e2687572ce2/lib/ohai/plugins/linux/virtualization.rb#L180 will need to be updated to detect the new format too.

[2015-04-29 19:06] apsoto commented on #523
Another data point, I notice that Chef 12.3 is install an ohai 8.3 even though I don't see a released 8.3 on rubygems (https://rubygems.org/gems/ohai)

[2015-04-29 19:11] apsoto commented on #523
FYI re: the ohai 8.3 that was installed on a server by chef 12.3 that is showing this problem.

I rolled it back to install chef 12.2.1 with a custom ohai 8.2 that includes the fix for #503 that isn't having this problem.  I'm not sure if a vanilla ohai 8.2 has this problem as I don't have anything available to test it on.

[2015-04-29 19:22] juliandunn commented on #523
@apsoto I just asked @jdmundrawala to release 8.3.0 to Rubygems so at least we have that covered

[2015-05-01 15:27] juliandunn commented on #514
Uh-oh

[2015-05-01 15:29] juliandunn opened #533 "Ohai collects a *lot* of data if you have an OEM Logo set on Windows"
If you have an OEM logo set on Windows, Ohai collects a lot of data. [57,657 extra lines](https://gist.github.com/juliandunn/16ac10df350a114a5412#file-windows-ohai-data-json-L134-L57790) of it, in fact, representing every pixel of the OEM logo bitmap.

[2015-05-06 10:04] liutc opened #536 "Filesystem plugin creates duplicate entries for mounted nfs"
### Version:

Ohai: 8.0.1
Chef: 12.0.3 (chef-client)
### Environment:

CentOS 6.6
### Scenario:

When I have a mounted nfs filesystem, I run chef-client / ohai discovery and I want to get a list of the filesystems. The issue is that for the mounted nfs filesystem, I got two entries for it under filesystem attributes. They are almost the same, except they have different "key" -- one is ending with

[2015-05-06 10:12] liutc opened #537 "chef-client hangs (ohai discovery hangs) when a server has a mounted nfs filesystem while the remote host does not respond"
#### Version:

Ohai: 8.0.1
Chef: 12.0.3 (chef-client)
Environment:

CentOS 6.6
AIX 7.1

####  Scenario:

When I have a mounted nfs filesystem, I run chef-client to perform a discovery or change (executing some recipes). If the remote host exporting the nfs directory does not respond (nfs service down, etc.), the chef-client will just hang there.

#### Steps to Reproduce:

1. create a nfs export on

[2015-05-07 01:36] shalobalo commented on #523
I had the same problem in plugin 'NetworkListeners'
$ ohai |grep -A3 '"25": {'
        "25": {
          "address": "127.0.0.1",
          "pid": 0,
          "name": ""
$ ohai |grep -A3 '"25": {'
        "25": {
          "address": "127.0.0.1",
          "pid": 0,
          "name": "s\n    handle_line = /^Handle (0x[0-9A-F]{4}), DMI type (\\d+), (\\d+) bytes/\n    type_line = /^([A-Z][a-zA-Z ]+)

[2015-05-07 10:35] svanharmelen commented on #481
Closing this one as this is actually discussed in PR #482

[2015-05-07 10:35] #481 closed

[2015-05-07 18:06] caneylan opened #538 "dmi plugin captures data for skipped handles"
Hi all,

I've noticed an issue in the dmi ohai plugin in which attribute data for skipped handles are added to the last non-skipped handle's data bucket instead of being discarded.

The plugin parser is a simple state-machine based on the format of the lines.  In the top-level state, the parser will find the Handle lines and determine the type.  Subsequent data lines are parsed and added to the dm

[2015-05-13 10:56] lhandl opened #539 "no dmi information on solaris2"
Hello!

I've installed chef-client 11.14.6 on Solaris 10 (x86 and sparc) with ohai 7.2.4. I'm trying to fetch DMI Information from our solaris systems, but only get an empty hash, when querying DMI information.

root@solaris-host:/ # ohai dmi
{

}

I observe the same behaviour while running chef-shell or chef-client.

Kind regards,
Lothar

[2015-05-13 12:34] thommay commented on #539
looks like we ought to use `smbios` to gather this information.

[2015-05-13 12:37] #470 closed

[2015-05-18 17:26] bcg62 commented on #538
maybe this is also the cause of #500 ?

[2015-05-20 08:39] thommay commented on #500
@bcg62 can you provide the original dmidecode output? If you'd rather not attach it here, feel free to mail it to thom (at) chef dot io.

[2015-05-20 08:41] thommay commented on #538
@caneylan can you provide a full dmidecode output so that I can test this properly? (or just an example of a handle and info you'd expect to be skipped?

[2015-05-20 18:13] #500 closed

[2015-05-20 18:13] #538 closed

[2015-05-20 18:15] bcg62 commented on #500
@thommay email sent, thanks

[2015-05-21 09:38] #539 closed

[2015-05-21 12:03] lhandl opened #542 "no dmi information on centos"
Thank you for your fix on Solaris. I'm sorry to disturb again. I've also problems fetching DMI information from Centos.

[root@centos-server~]# ohai dmi
{

}

I'm using Chef client 11.14.6 with ohai 7.2.4 on Centos 6.6.

Could you please have a look at that?

Kind regards,
Lothar

[2015-05-21 12:22] thommay commented on #542
centos by default doesn't have dmidecode installed.
When it is installed:

[code]
(this is chef 12, but there's been no change there for a long time)

[2015-05-21 12:35] lhandl commented on #542
I'm impressed of your quick reaction. Thank you very much for your help! Installing dmidecode solved my problem on centos.

[2015-05-21 12:44] #542 closed

[2015-05-25 00:08] rmoriz opened #545 "IPv6 bug in detecting link-local addresses"
By RFC4291 2.5.6  FE80::/10 is link-local.

see:
- https://tools.ietf.org/html/rfc4291#section-2.4
- https://tools.ietf.org/html/rfc4291#section-2.5.6

However OHAI detects  FE80::/10 as public address:

Wrong Test/Detection:
https://github.com/chef/ohai/blob/master/spec/unit/util/ip_helper_spec.rb#L56-L62
https://github.com/chef/ohai/blob/master/lib/ohai/util/ip_helper.rb#L23

This causes link-lo

[2015-05-28 13:18] lhandl opened #549 "no macaddress on solaris"
Dear developers,

I recognized, that ohai does not find any macaddress on solaris 10 while an ipaddress is found. I'm using Chef client 11.14.6 and ohai 7.2.4. There's no difference between sparc and x86.

here are some outputs:
 # ohai
{ ...
  "ipaddress": "192.168.3.160",
  "macaddress": null,
  ...
}

 # ohai macaddress
/opt/chef/embedded/lib/ruby/gems/1.9.1/gems/ohai-7.2.4/lib/ohai/system.rb:1

[2015-05-28 14:48] thommay commented on #549
I can't reproduce this on illumos:

[code]

can you run: `ohai -l debug macaddress` and paste the output please?

[2015-05-28 14:53] lhandl commented on #549
sure:

 # ohai -l debug macaddress
[2015-05-28T16:50:43+02:00] DEBUG: found gateway: 192.168.3.1
[2015-05-28T16:50:43+02:00] DEBUG: found gateway device: ce0
[2015-05-28T16:50:43+02:00] DEBUG: [inet] Using default interface ce0 and default gateway 192.168.3.1 to set the default ip to 192.168.3.160
[2015-05-28T16:50:43+02:00] DEBUG: unable to detect ip6address
/opt/chef/embedded/lib/ruby/gems/1.9.1

[2015-05-28 14:55] thommay commented on #549
is there any chance you could try with chef 12? just to confirm whether it's fixed there or not?

[2015-05-28 15:16] lhandl commented on #549
same behavior in Chef client 12.3.0 with ohai 8.3.0. Can I help with any further input?

[2015-05-28 15:47] thommay commented on #549
yeah, if you could show me:
`ohai network/interfaces`
`ifconfig -a`
and
`arp -an`

that would be great. If they're huge or private please feel free to mail them to me: thom at chef dot io.

[2015-05-29 10:50] lhandl commented on #549
I've sent you the outputs you requested via email.

[2015-05-29 10:55] thommay commented on #549
Thanks. There's something weird going on; I'll dig further into this as soon as I can.

[2015-05-31 09:12] astlock commented on #516
The same situation in
[code]
Whether there is a temporary workaround here?

[2015-05-31 09:20] jaymzh commented on #516
`exit!` is the work around we are currently using. It's a hack, but it works.

[2015-06-03 21:26] mcquin commented on #533
It appears to be that this has been taken care of: https://github.com/chef/ohai/commit/54b5d408284b51ee47a6c4b2b72c23933a929242

[2015-06-04 03:25] juliandunn commented on #533
Indeed!

[2015-06-04 03:25] #533 closed

[2015-06-10 11:14] #549 closed

[2015-06-17 12:12] terceiro opened #556 "missing runtime dependencies on sigar and plist"
Currently `plist` and `sigar` are mentioned in the `Gemfile`, but not in `ohai.gemspec`. They are both used at runtime, so they should probably be listed as proper dependencies:

[code]

[2015-06-17 13:47] jaymzh opened #558 "linux filesystem plugin can't handle CentOS7 bind mounts"
The linux filesystem plugin indexes by device name, so any time a device is repeated in 'mount' output, you override data.

Since CentOS7 symlinks /etc/mtab to /proc/mounts if you bind mount something you end up with:

[code]

which means whichever mountpoint is last wins, which means you can no longer find data for /.

This has been a problem for a long time for any mounts that use the same devic

[2015-06-18 18:53] twk3 opened #560 "centos 7 platform not detected on master"
Just a problem in master, not the 8.4.0 release. Running ohai platform reports ```I cannot find an attribute named platform!```

[2015-06-19 12:20] maxlazio commented on #560
Looks like this broke it: https://github.com/chef/ohai/compare/8.4.0...master#diff-287bd4842f9ed3193408e40b9e59c099R63

CentOS7 contains `/etc/os-release` so it never reaches the check for Redhat platform

[2015-06-22 15:23] #560 closed

[2015-06-22 17:02] danielsdeleo commented on #560
I confirmed the fix with a ChefDK build using master of ohai.

[2015-06-23 19:28] cmluciano commented on #397
A fix for gentoo/coreos is merged in #510. Can this issue be closed?

[2015-06-23 19:39] cmluciano commented on #496
@smurawski I think this can be closed now. The problem IIRC was due to ffi-yajl problems.

[2015-06-23 19:40] cmluciano commented on #497
#495 is merged. This can be closed.

[2015-06-24 00:24] jaymzh commented on #558
Closed by #559

[2015-06-24 00:24] #558 closed

[2015-06-24 09:06] #497 closed

[2015-06-24 09:06] #496 closed

[2015-06-24 09:39] #469 closed

[2015-07-01 01:43] lamont-granquist commented on #523
This should have been fixed in chef-client so that it'll clean up non-UTF8 strings to UTF8 and the node.save will always succeed.

[2015-07-01 01:43] #523 closed

[2015-07-01 16:57] apsoto commented on #523
can you point to an issue or commit on chef-client ?

[2015-07-08 18:36] mcquin commented on #545
https://github.com/chef/ohai/pull/546

[2015-07-09 09:29] #545 closed

[2015-07-13 06:39] ganeshrn opened #575 "Returning twice the amount of Memory [Size|Used|Available] in the File System"
On JUNOS shell "df" command outputs memory as blocks of 512 by default.
Ohai  displays twice the memory as it assumes memory output in 1K blocks.
Relevant output of ohai client on JUNOS

[code]

JUNOS Output:

[code]

[code]

Ohai version

[code]

[2015-07-13 10:52] ganeshnalawade commented on #575
This change fixes the issue https://github.com/ganeshnalawade/ohai/commit/a55ea1b6eb537617e7af3b82d200c205dd5de071 .

[2015-07-14 08:57] ganeshrn opened #576 "Not showing all the available interfaces on JUNOS device"
Under the following hierarchy in the ohai output it is not showing any of the "ether or coc3" interfaces .

[code]

[code]

Ohai run output:

[code]

[2015-07-14 15:26] ganeshrn opened #577 "Counter values for the network interfaces in ohai output on JUNOS"
Output of netstat command on Juniper device

[code]

Ohai output

[code]

Ohai version

[code]

Regex for parsing <Link> and Address (JUNOS uses '.' as separator)  needs to be fixed [here](https://github.com/chef/ohai/blob/master/lib/ohai/plugins/freebsd/network.rb#L109)

[2015-07-14 15:27] ganeshnalawade commented on #577
This change fixes the issue https://github.com/ganeshnalawade/ohai/commit/3cf7c4a61b382a1916c7048575ca68189fad0041

[2015-07-14 22:44] mcquin commented on #531
[PR here](https://github.com/chef/ohai/pull/569).

[2015-07-14 22:52] mcquin commented on #520
Sorry for the delay, @svmastersamurai. Any luck? Have you tried using `require_relative` to require your custom classes? For example, if your plugin is at `/etc/chef/ohai_plugins/foo.rb` and your Ruby class is stored on the node at `/etc/chef/ohai_plugins/lib/foo_collector.rb` you can write

[code]

[2015-07-14 22:55] mcquin commented on #511
@tas50 can you provide an example of what the "funky" returned data looks like?

[2015-07-14 22:58] #397 closed

[2015-07-14 23:38] tas50 commented on #511
Sorry for the crummy bug report there.  Here's a snippet of the data:

    "network_interfaces_macs": {
      "0a:60:b8:dc:13:e3": {
        "device_number": "0",
        "interface_id": "eni-1234",
        "local_hostname": "something.something",
        "local_ipv4s": "1.1.1.1",
        "mac": "0a:60:b8:dc:13:e3",
        "owner_id": "1234",
        "security_group_ids": "sg-1234\nsg-1234",

[2015-07-15 14:43] #514 closed

[2015-07-15 15:06] mcquin commented on #511
It would be nice if ohai split that data into an array for you.

Regarding backcompat, it seems the pattern here is to create a `:Foo2` when there are breaking changes to a `:Foo` plugin. I don't know at what point `:Foo2` can replace `:Foo`. I don't want to add a `"parsed_security_groups"` attribute, I think it would cause too much confusion.

[2015-07-17 09:03] leshik opened #580 "ohai, lsblk & charset"
Hi,
Given that linux chef node has USB stick mounted, and this stick is VFAT formatted and has volume label in national charset (cp866 in my case), ohai filesystem plugin fails as YAJL can't encode broken charset to JSON.
https://github.com/chef/ohai/blob/master/lib/ohai/plugins/linux/filesystem.rb#L128
This is due to the fact that lsblk outputs the label as is and doesn't convert it to current lo

[2015-07-17 18:26] klutarevich opened #581 "Unable to run Ohai::System.all_plugins within reasonable time on my Windows machine"
### Version:
Chef DK 12.3 (Ohai 8.3.0)

### Environment:
Windows 7 64 bit (non-domain joined), Intel i7-2620M 2.7 Ghz, 8Gb RAM

### Scenario:
Trying to see the results generated by Ohai in manual mode

### Steps to Reproduce:
[code]

### Expected Result:
o.all_plugins should presents collected results in JSON format within reasonable amount of time (<1 min). For example, Windows 2012 R2 servers ru

[2015-07-17 19:30] mcquin commented on #581
Ohai does collect a lot of data, fortunately or unfortunately (depending on your outlook). All plugins should run fairly quickly, but that is highly dependent on the state of your system. Many users have reported similar issues for various plugins, especially when the attribute being profiled is large.

Unfortunately, we don't have a good way of dealing with this except to disable the plugins whic

[2015-07-20 19:12] #581 closed

[2015-07-21 17:12] mcquin commented on #580
It appears `FFI_Yajl` accepts a `validate_utf8 => false` option, which should resolve this issue.

Can you provide a stacktrace?

[2015-07-22 15:33] leshik commented on #580
Sure, but there is little useful information there:

$ cat /var/chef/cache/chef-stacktrace.out

[code]

[2015-07-22 16:27] mcquin commented on #580
Thanks, I just wanted to make sure it was happening in the `#to_json` methods and not elsewhere.

[2015-07-30 18:37] conathan opened #590 "virtualization does not detect centos 7.1 kvm guests running on a centos 7.1 host"
Looking at https://github.com/chef/ohai/blob/master/lib/ohai/plugins/linux/virtualization.rb,  It uses the following to detect whenever it is running as a kvm guest:

      if File.read("/proc/cpuinfo") =~ /QEMU Virtual CPU|Common KVM processor|Common 32-bit KVM processor/
        virtualization[:system] = "kvm"
        virtualization[:role] = "guest"
        virtualization[:systems][:kvm] = "gues

[2015-08-05 16:16] warroyo opened #592 "ohai virtualization does not detect docker on rhel 7.1"
I am running test kitchen on rhel 7.1 and ubuntu trusty. I am seeing an issue where on rhel the virtualization platform is not being correctly detected. Specifically I am attempting to detect docker. here are the outputs from ohai on both Ubuntu and rhel 7.1. This is breaking cookbooks that try to detect if  it is running on docker.

the versions i am using are below:
RHEL:
 - docker: 1.7.1
 -Ohai

[2015-08-05 19:21] spdqbr commented on #592
Looks like the new `/proc/self/cgroup` format breaks the regex check in `lib/ohai/plugins/linux/virtualization.rb`.

The regex `^\d+:[^:]+:/(lxc|docker)/.+$` doesn't expect anything before or after the "docker|lxc" declaration.
Quick fix is to edit the linux/virtualization.rb  and change the regex check to something like `^\d+:[^:]+:/[^:]*(lxc|docker)[-/].+$`, though I'm not certain if any other c

[2015-08-06 20:27] mcquin commented on #592
There's an active [pull request](https://github.com/chef/ohai/pull/569/files) which handles the new cgroup format. It needs another +1 from a chef maintainer before it can be merged.

[2015-08-06 20:40] mcquin commented on #590
Thanks for the infos.

It looks like we'll just have to change [this line](https://github.com/chef/ohai/blob/master/lib/ohai/plugins/linux/virtualization.rb#L149) to

[code]

[2015-08-06 20:52] mcquin commented on #590
https://github.com/chef/ohai/pull/594

[2015-08-06 23:20] conathan commented on #590
Thank you, new virtualization.rb seems to work (used ohai-8.5.0 and just grabbed the latest plugins/linux/virtualization.rb from the above pull).

[2015-08-06 23:32] mcquin commented on #590
Great! Thanks for the check @conathan ! :)

[2015-08-07 18:28] #590 closed

[2015-08-09 23:31] ameir opened #595 "Wrong IP address reported in OpenVZ containers"
Per @lamont-granquist https://github.com/chef/chef/issues/3731 has been moved here.
----------

I have never been able to get the correct IP address reported on OpenVZ containers.  I instead always get 127.0.0.2 as the IP.

Here's a screenshot from the management console:
http://take.ms/8q2bA # note that the last one is VMWare, not OpenVZ.

The partial `ifconfig` output from a container is below.

[2015-08-13 14:07] #531 closed

[2015-08-13 19:38] evaryont commented on #595
Related to issues #547, #415. Seems like a regression from 2011, see PR #52.

[2015-08-14 14:07] #415 closed

[2015-08-14 14:47] jedugas opened #605 "Windows hint path is wrong, prevents usage of ec2 plugin"
Debugging into Ohai's config.rb on my Windows Server 2012 R2 node to get the parameter values, and applying those to an irb session on that same node, I've demonstrated that the hint path it 'calculates' points to a non-existent folder:

irb(main):006:0> path = File.join(ENV['SYSTEMDRIVE'], '/etc/chef/ohai/hints'.split('/')[2..-1])
=> "C:/chef/ohai/hints"

The *correct* path should be "C:/etc/chef

[2015-08-15 05:01] dgoradia opened #607 "Adjusting fqdn via ohai plugin"
I've made a plugin which is just a slightly modified version on the hostname.rb plugin for ohai. The plugin seems to be run via the ohai cookbook but the fqdn isn't updated on the Chef Server.

[code]

recipes/default.rb
[code]

Output of chef-client run
[code]

It didn't get updated:
[code]

[2015-08-18 21:52] svmastersamurai commented on #520
Not a problem @mcquin, currently I am going through some training at work and will be away from my chef duties for a few more weeks, but I will give this a try and update this as soon as I can take a look at it!

[2015-08-26 21:06] lancepowell opened #614 "finding rack and enclosure"
In previous ohai versions I was able to gather the rack name using this:

`node['dmi']['oem_strings']['rack_name']`

In ohai 8.5.0 i see the change to only gather certain sets of data:

https://github.com/chef/ohai/blob/8-stable/lib/ohai/common/dmi.rb#L74

Running dmidecode, what I'm trying to find is dmi type 204, which would fall to the if statement below and set it to:

`oem_data_204`

I'm not

[2015-08-31 18:18] mcquin commented on #607
The `ohai` command is running the original hostname plugin. If the machine you are running that command on is managed by Chef (specifically, `recipes/default.rb` has been run on it) you can pass the `ohai` command the path to the directory containing your fdqn plugin. For example, the ohai cookbook places your custom plugins in `/etc/chef/ohai_plugins` by default. If you run `ohai -d /etc/chef/oha

[2015-08-31 19:27] mcquin commented on #605
On Windows, we drop the `/etc` in favor of `C:\` (or whatever `ENV['SYSTEM_DRIVE']` is). `C:/chef/ohai/hints` is the correct default hints path for Windows. It's even stubbed as such [in the spec](https://github.com/chef/ohai/blob/8-stable/spec/unit/plugins/ec2_spec.rb#L28).

You can configure your hints path to point to `C:\etc\chef\ohai\hints` by setting the following in your config file:

[code

[2015-09-03 15:30] #501 closed

[2015-09-04 00:35] clewis opened #615 "On *BSD, node[:command][:ps] is limited to 79 characters wide"
This causes chef to incorrectly determine that some services are not running when they are.  This mostly affects java based services with long command lines.  This was found using ActiveMQ on FreeBSD.

[2015-09-04 00:40] clewis commented on #615
Submitted PR 616

[2015-09-09 17:09] bgehman commented on #382
We hit the same problem, and it is easy to reproduce once you understand the root-cause.  It all boils down to if your VM is in the "smoketest.com" domain, then the GCE plugin is able to resolve the metadata.google.internal hostname, as in:

   # nslookup metadata.google.internal.smoketest.com
   Server:		10.0.80.11
   Address:	10.0.80.11#53

   Non-authoritative answer:
   Name:	metadata.google.i

[2015-09-11 12:01] rlaveycal opened #619 "uptime plugin hangs/takes forever on Windows"
We've seen a spontaneous degradation in the uptime plugin on 2 Windows servers (one 2008 R2, the other 2012 R2) with ohai 8.5.0 (Chef client 12.4.1). It is taking 10s of minutes.

The culprit is the call to WMI to get Win32_PerfFormattedData_PerfOS_System. Accessing this class from powershell is slow but not measured in minutes.

Everything was working fine on both servers until the last couple of

[2015-09-11 12:59] rlaveycal commented on #619
Rebooting the server seems to have cured the problem...Doh!

[2015-09-11 12:59] #619 closed

[2015-09-18 15:27] glasschef opened #621 "KVM/Virtualization Detection"
On a "specific" KVM instance /proc/cpuinfo contains:
model name : Intel Core i7 9xx (Nehalem Class Core i7)
and that obviously fails KVM detection.

Maybe we can add in something like this to linux virtualization detection?

[code]

[2015-09-18 15:36] dreamnite opened #622 "ohai probe of lsblk causes hang on systems with dead paths"
I originally opened this as a Chef support ticket, 5889.

I have a system which is using iscsi storage. When a path to that storage dies (In our original case, due to a reconfiguration of the iscsi system), the lsblk probe done by ohai hangs.

I have tracked this down to lsblk being called as follows:
 execve("/bin/lsblk", ["lsblk", "-r", "-n", "-o", "NAME,FSTYPE"], [/* 48 vars */]) = 0

The FSTYP

[2015-09-22 12:04] Roviluca opened #623 "wrong CPU count"
ohai,

i'm working in a virtual machine with:
  OS: windows server 2012R2
  Powershell: 5 (production preview)
  Chef-client: 12.4.2
  "real" CPU 4
  "total" CPU 4

and cpu infromations are not correct in ohai:
[code]
if you need some further tests to help you identify the issue let me know.
Thank you

[2015-09-22 13:37] pburkholder commented on #621
@mcquin Hi Claire -- is this something you think you can pull in to Ohai? Thanks, Peter

P.S. This internally is also https://getchef.zendesk.com/agent/tickets/5902 -- so a customer request.

[2015-09-22 16:43] MathildeBarr commented on #516
cc/ @andy-dufour @irvingpop

[2015-09-23 09:53] thommay commented on #623
please can you run `chef-shell` on that node and then do the following:
[code]

I just tried this on a fresh 2012r2 instance and got back the following:
[code]
thanks.

[2015-09-23 13:31] Roviluca commented on #623
i cleaned up some info by putting *****, that's the output:
[code]

[2015-09-24 21:38] chefsalim commented on #516
Fixed with PR#625

[2015-09-24 21:38] #516 closed

[2015-10-05 11:27] thommay commented on #623
Should be fixed now, thanks for your report!

[2015-10-05 11:27] #623 closed

[2015-10-05 16:15] SolverDude opened #629 "ohai filesystem plugin output needs adjustment for solaris11"
With solaris 11, each user on a server has their own filesystem mount for their home, using zfs.  This isn't optional.

The present solaris2 filesystem plugin [unchanged in 2 years] in ohai iterates over each zfs filesystem's attributes with this command:
"zfs get -p -H all"

This generates a [very large] chunk of text data for ea zfs mount, On our sample system it's 55 attributes and 2535 bytes o

[2015-10-05 16:18] SolverDude commented on #629
@hornbeck @steversmith @craigadams Here is the summary of our Ohai issue re solaris11

[2015-10-05 20:34] mcquin commented on #621
@glasschef Which version of Ohai are you using?

[This commit](https://github.com/chef/ohai/commit/444ae0f793ed380756164657ae28222bc2ffaf83) should address the above issue. It is available with Ohai 8.6.0.

[2015-10-06 16:54] jedugas commented on #605
I just want to get work done with the ec2 node attributes this plugin can provide. Since I can configure the hints path I'm all set. All I need to do is 'touch' the ec2.json file to activate/enable the plugin?

If so I will verify and happily retract the bug. tx!

[2015-10-09 18:37] #629 closed

[2015-10-09 19:22] #423 closed

[2015-10-11 19:35] tas50 commented on #615
This can get closed out now that the fix is merged

[2015-10-11 21:02] tas50 opened #634 "Virtualbox not detected on FreeBSD"
FreeBSD 10.X (probably 9 as well) guests on virtualbox have no Ohai information for virtualization.

[2015-10-11 21:10] tas50 opened #635 "FreeBSD 10.X not showing DMI data under Virtualbox"
There should be some basic DMI data for the Vbox fake motherboard and what not, but it's just a blank hash under Ohai 8.6

[2015-10-15 14:52] pburkholder opened #636 "-d on Windows doesn't use path with backslash"
Works: `ohai -d c:/Projects/my/plugins cpu/foo`

Fails: `ohai -d c:\Projects\my\plugins cpu/foo`

A user on Windows will expect a perfectly valid path to be honored.

Either Ohai should use the Windows-style path, with backslashes, or it should at least issue a warning that it can't parse that type of path.

Do the same issues with path specification applied to configuration files?

[2015-10-15 15:13] pburkholder commented on #636
@ksubrama Perhaps include ohai in https://github.com/chef/chef/blob/master/distro/powershell/chef/chef.psm1?

[2015-10-19 15:04] #615 closed

[2015-10-24 16:03] mitayai commented on #492
how about

[code]

[2015-10-26 05:59] tas50 commented on #635
This was my box and not Ohai

[2015-10-26 05:59] #635 closed

[2015-10-26 14:30] #636 closed

[2015-10-26 14:45] rmoriz commented on #492
can you just post a diff of the current ip-address-only code?

[2015-10-26 14:59] rmoriz commented on #492
well… you're missing all the iteration over the metadata endpoints, like it's done in ec2 https://github.com/chef/ohai/blob/master/lib/ohai/mixin/ec2_metadata.rb

Unfortunately I don't have a sponsor to contribute a patch at this time.

[2015-10-28 14:17] btm commented on #420
https://github.com/chef/chef/pull/3689#issuecomment-151556066

https://github.com/chef/chef/pull/3689#issuecomment-151558070

@btm, can you suggest something we can do now so @SolverDude can move forward? It's good to see things move through the RFC process, but I feel there's enough there in Ohai / Chef Client where there should be a solution on top of those that could potentially be deployed via

[2015-10-30 09:48] vegardx opened #643 "Link local being used as ip6address"
When detecting IP-addresses and the node doens't have a IPv6-address with global scope it takes the link local address and uses that as ip6address. I don't think this is intended to happen, ref. #244.

[code]

[code]

[code]

[2015-10-30 22:29] bdwyertech commented on #492
This probably needs to be done sooner rather than later, cloud and cloud_v2 are currently broken on new droplets!

http://bdwyertech.net/2015/10/30/digitalocean-chef-and-ohai-retrieving-a-droplets-private-ip-address/

[2015-11-02 20:31] davidjh opened #645 "EC2 CNAMEs broken with multiple IPs"
To support multiple EC2 IPs, it would be preferable to have an array rather, than a concatenated string, so CNAME can use first element.

Here's an example of how it is currently w/ :
"ec2": "public_hostname": "ec2-52-32-165-31.us-west-2.compute.amazonaws.comec2-52-32-138-27.us-west-2.compute.amazonaws.com",

[2015-11-04 08:32] ms2scale opened #646 "default_interface / ipaddress mismatch"
Running ohai on an ec2 device with an additional network interface.

default_interface is detected as eth0, which is fine (ohai output)

[code]

The ipaddress which is reported is the one which is attached to eth1 which is not that useful because the additional interface is supposed to be moved to another machine.

I guess ohai is confused by multiple default routes which might occur in the setup.

[2015-11-05 18:23] Azrael808 opened #647 "Ohai Identification of Hyper-V Hypervisor"
I am attempting to identify when a Chef client is running as a Hyper-V guest, but the ohai attributes currently identify the Hypervisor as "virtualpc".

It's not a show-stopper, as I've just matched that `node['virtualization']['system']` attribute value in my recipes for now, but I did notice there was an existing Jira ticket for this and I wondered if a fix was on the roadmap?

https://tickets.o

[2015-11-08 20:24] acharyadeba commented on #360
Hi,

I am getting the same error while bootstrapping on RHEL...can someone help please?? Thanks...

[2015-11-09 15:41] thommay commented on #492
@mitayai can you submit this as a pull request?

[2015-11-09 22:04] btm commented on #420
@SolverDude here's a way to use the old hostname plugin if you aren't already. This downloads the old plugin as part of the bootstrap process and configures it.

https://gist.github.com/btm/48340a276e4214103a5e

[2015-11-12 07:06] tas50 commented on #515
@burtlo I'm closing this out now since we've merged the memory plugin

[2015-11-12 07:06] #515 closed

[2015-11-12 07:08] tas50 commented on #456
Closing this out based on my previous comment.  As much as we'd like to magically detect clouds we rely on the hints to limit the time it takes to detect all attributes.

[2015-11-12 07:08] #456 closed

[2015-11-12 22:30] patcon opened #648 ""hostname/fqdn" returns nil for CentOS 6"
Seems that on a fresh centos 6.7 server on digital ocean, when someone names the server a full FQDN, there is some quirky behavior.

[code]

It probably has to the with the fact that nothing beyond localhost is set in the hosts file:

[code]

(Setting the server name in the hosts file itself resolves the error. Not sure if that's an issue with how DigitalOcean provisions its images, or if that's e

[2015-11-12 22:57] patcon commented on #648
Ok, so I made the change, and it seems to be working on the fresh centos-6 instance on which it was previously failing:

[code]

I'll convert this to a PR now :)

[2015-11-17 15:44] mitayai commented on #492
@thommay i don't have permissions to do that :-(

[2015-11-17 17:27] pburkholder commented on #360
@acharyadeba Can you elaborate? This is an AIX issue and you note that you're bootstrapping on RHEL.

[2015-11-19 18:23] acharyadeba commented on #360
@pburkholder Thanks for your response. My Chef server and workstation are on the same RHEL instance and the node is also RHEL. I get the same error while bootstrapping node from workstation. Do you have any clue how to resolve?

[2015-11-19 21:50] cachamber commented on #536
Do you, by chance, have the NFS mounts in /etc/fstab with a trailing "/", or do you mount them with a trailing "/"?   If so, you will get this behavior.  The fastest way to correct this would be to drop trailing "/" from your mounts.

[2015-11-20 20:09] btm commented on #621
I just checked the ZD issue and 8.6.0 solved the bug for the user.

[2015-11-20 20:09] #621 closed

[2015-11-20 20:13] btm commented on #592
It looks like #569 was merged and released in Ohai v8.6.0. This also happens to be a duplicate of #531.

[2015-11-20 20:13] #592 closed

[2015-11-20 20:29] btm commented on #647
You're on a linux system running under hyperv?

http://blogs.technet.com/b/tonyso/archive/2009/08/20/hyper-v-how-to-detect-if-you-are-inside-a-vm.aspx

That indicates that the motherboard version should indicate the version of HyperV. I wonder what it returns on VirtualPC.

FWIW, on my virtual box guest the baseboard information is:
[code]

It looks like we're currently looking at wmi information

[2015-11-20 22:58] mwrock commented on #647
On a Hyper-V guest the above `wmic` call yields:

[code]

[2015-11-24 15:09] halostatue opened #651 "Use the new mime-types 3.x"
This is an issue version of #650, issued mostly because I’m not really interested in signing the CLA for such a trivial change.

mime-types 3.x is Ruby 2.0 or higher, which is compatible with your current restrictions, so modifying `ohai.gemspec` to use only mime-types 3.x is a sensible change:

[code]

[2015-11-24 15:11] halostatue commented on #651
This also continues to work with the tests, and is a better change overall because mime-types 3.x is MIT-licensed only.

[2015-11-24 17:10] Azrael808 commented on #647
@btm yes, I am running a Linux guest under Hyper-V... Not through choice you understand, but a business partner is using it internally!

If it helps, I can attach the output of `dmidecode`?

[2015-11-24 19:10] btm commented on #647
@Azrael808 yeah, dmidecode and the version of hyper-v would be good. I think we need to figure out when virtual-pc became hyper-v.

https://en.wikipedia.org/wiki/Windows_Virtual_PC
[code]

Then "Windows Virtual PC" (instead of "Microsoft Virtual PC") was version 6.1. From @mwrock's post, it looks like Hyper-V got version 7. So if we really want to return hyperv instead of virtualpc, we should do s

[2015-11-24 21:55] mwrock commented on #647
version 7 of Hyper-V is the new version released with the latest November update of win 10 and TP 4 of server 2016. I found this chart here that has a chronology of Hyper-V versions: http://windowsitpro.com/hyper-v/hyper-v-vm-versions-server-os

Here is `dmidecode` output from an ubuntu Hyper-V guest:
[code]
It seems like ohai goes wrong here: https://github.com/chef/ohai/blob/0e6456ca3e56ae4e84fe

[2015-11-25 16:35] Azrael808 commented on #647
Right, here's the output from `dmidecode`:

[dmidecode.txt](https://github.com/chef/ohai/files/44081/dmidecode.txt)

The partner tells me that this is HyperV running on Windows Server 2012 R2.

[2015-11-28 02:28] tas50 commented on #647
I'm working on cleaning up the dmidecode logic on both Linux and FreeBSD and I figure while I'm there we should clean up the VirtualPC vs. Virtual Server vs. Hyper-V logic.  We seem to have decided that version 7.0 is Hyper-V, but it also seems like we could just search for the Hyper-V string since the BIOS version is "Hyper-V UEFI Release v1.0".  VirtualPC is where I get a bit confused.  Version

[2015-11-28 02:34] tas50 commented on #647
Something like this:
      when /Manufacturer: Microsoft/
        if dmi_data =~ /Product Name: Virtual Machine/
          if dmi_data =~ /Version: (VS2005R2|6.0)/
            return 'virtualpc'
          elsif dmi_data =~ /Version: (7.0|Hyper-V)/
            return 'hyperv'
          elsif dmi_data =~ /Version: 5.0/
            return 'virtualserver'
          end

[2015-11-29 05:46] tas50 commented on #634
https://github.com/chef/ohai/pull/655 Fixes this

[2015-11-29 22:56] tas50 opened #657 "Detect Azure on non-bootstrapped hosts"
Detecting Azure is a bit tricky for multiple reasons, but we could better handle this.

A) Azure looks pretty much like Hyper-V
B) There's no metadata endpoint so if you discover a host as Azure you still can't load any information on the host

Even though we can't provide any information on the host we should still detect Azure on non-bootstrapped nodes so people can at least use the fact that th

[2015-11-29 22:57] tas50 opened #658 "VMware hash is added on Azure"
Azure Linux images ship with the vmware binary for some odd reason (/usr/bin/vmware-toolbox-cmd).  Due to this we add the vmware hash on azure hosts.  We shouldn't use the presence of the binary as an indication that we're on vmware.  Instead we should check dmidecode data which will indicate manufacturer of VMware Inc.  This would avoid a confusing empty hash that could potentially trigger vmware

[2015-11-29 22:59] tas50 commented on #647
I'm also working to improve our detection of Azure hosts and avoid detecting nodes as being on Hyperv once we detect them as running on Azure.

[2015-12-01 14:56] brianjmurrell opened #661 "undefined method `[]=' for #<Ohai::System:0x000000019638a8> (NoMethodError)"
Hi,

I'm trying to use Ohai outside of Chef to get some general information about the platform it is being run on.

Somewhere between 0.5.8 (yes, I know, very old) and 7.0.4 trying to do:

[code]

started generating the error:

[code]

So it seems that assigning a value to an ohai attribute is no longer allowed?  Or should it just be done differently in 7.0.4?

[2015-12-01 19:49] tas50 commented on #647
@Azrael808 What distro / release is that dmidecode data from?

[2015-12-01 22:43] #634 closed

[2015-12-01 22:45] tas50 commented on #647
We should be properly detecting Hyper-V with the merge of #647.  I have some additional work to distinguish between Hyper-V and Azure, but for now both Hyper-V and Azure will show up at Hyper-V guests.

[2015-12-01 22:45] #647 closed

[2015-12-01 23:52] tas50 opened #664 "Detect Hyper-V guests running Windows"
I added the logic to properly detect Hyper-V guests running Linux.  We just need to move that same logic over to Windows.

[2015-12-01 23:53] tas50 opened #665 "Azure hosts should not also show up as Hyper-V guests"
If a host has been bootstrapped with knife-azure or has the waagent executable present we shouldn't mark them as Hyper-V guests as well.

[2015-12-02 09:57] Azrael808 commented on #647
@tas50 it's a CentOS 7 VM.

[2015-12-02 17:09] #651 closed

[2015-12-02 18:37] lamont-granquist commented on #512
did we ever fix this?

[2015-12-02 18:40] lamont-granquist commented on #491
this does smell a bit wrong.  however, the algorithm for "what is my private address" without knowing any other details, will always fail in some use cases, because there is no standard that systems engineers agree on.

whatever we wind up doing this is probably ripe for making it configurable/hintable.

[2015-12-02 18:44] lamont-granquist commented on #517
so this looks like its not a bug since centos recognized they were going to break the world and rolled it back.

i'd like to see a PR to favor /etc/os-release, but without actual bugs requiring that work its not a very high priority since the existing code is working.

[2015-12-02 18:44] #517 closed

[2015-12-02 18:47] thommay commented on #507
We'd totally accept a PR that added your ohai plugin to the interfaces section, @phreakocious

[2015-12-02 18:47] lamont-granquist commented on #507
@phreakocious if you could merge your plugin into the existing interfaces plugin to add a speed (and maybe duplex for people with really old infrastructure) we'd accept it.

[2015-12-02 18:50] lamont-granquist commented on #503
fixed by #548 and or chef/chef#3320

[2015-12-02 18:50] #503 closed

[2015-12-02 18:52] lamont-granquist commented on #529
Seems like a pretty easy PR to just expand the list of platforms that this runs on, if its as simple as that.

[2015-12-02 19:58] phreakocious commented on #507
Will take a look at this.  Thanks.

On Wed, Dec 2, 2015 at 1:47 PM, Lamont Granquist <notifications@github.com>
wrote:

[2015-12-02 22:08] curiositycasualty commented on #512
@lamont-granquist nope:
[code]

[2015-12-02 22:08] #512 closed

[2015-12-03 18:24] mcquin commented on #661
Assigning a value to an ohai attribute outside of a plugin is no longer supported.

Ohai attributes are stored in the `data` data structure of the `Ohai::System`. This data structure is [readable and writable](https://github.com/chef/ohai/blob/master/lib/ohai/system.rb#L36). Modifying your example slight, you can assign values to an attribute like this:

[code]

`tmp[:platform]` should return `"el

[2015-12-03 19:21] brianjmurrell commented on #661
Thanks!

[2015-12-03 19:21] #661 closed

[2015-12-04 01:11] tas50 commented on #646
@ms2scale What version of ohai is this occurring on?

[2015-12-04 01:19] tas50 commented on #645
@davidjh What version of Ohai is this occurring with?

[2015-12-04 01:20] andy-dufour opened #669 "Replace filesystem with filesystem2"
There's been discussions to replace the filesystem plugin with filesystem2 in Ohai.

This issue is to track discussion and keep it on the radar for 0.9.0 release.

/cc @jaymzh

[2015-12-04 01:21] tas50 commented on #614
I think the real solution here is to allow for configuration of the values as noted in the comment with the code you linked to.  That would allow people to bring in the various oem codes without blowing up the size of Ohai data with all codes.  I'm marking this as an enhancement and I'll see how complex of a change that would be to implement.

[2015-12-05 06:09] tas50 opened #671 "CPU counts on OS X are wrong"
On OS X we report the following aggregate CPU information on a Retina MBP:
    "real": 4,
    "total": 8,

The problem is this system has 1 real cpu, 4 total (real cores), and 8 cores (hyperthreaded cores).

we use sysctl -n hw.physicalcpu for real CPUs which is actually real cores not CPUs.

If we want the number of physical CPUs we want hw.packages

[2015-12-05 07:20] tas50 opened #673 "Collect additional CPU information on FreeBSD"
We're collecting the "total" cpu count, which is actually cores, not total.  We need to collect real CPUs and total real cores correctly as well as cores which is hyperthreaded cores.  This will align FreeBSD output with that of Linux.

[2015-12-05 08:09] tas50 commented on #673
#674 resolves this

[2015-12-08 17:56] tas50 commented on #671
Turns out we're not doing this wrong.  We're just not reporting the real CPU.

[2015-12-08 17:56] #671 closed

[2015-12-09 19:07] tas50 commented on #658
This is resolved in the 8.8.1 release

[2015-12-09 19:07] #658 closed

[2015-12-09 20:16] tas50 commented on #673
This has been merged

[2015-12-09 20:16] #673 closed

[2015-12-09 23:25] mcquin commented on #605
That's correct!

[2015-12-14 19:40] tas50 commented on #507
This has been fixed with the PR from @phreakocious It'll go out in the next Ohai release

[2015-12-14 19:40] #507 closed

[2015-12-16 01:19] jaymzh opened #685 "network plugin is broken on v6 only hosts"
* It can't determine `macaddress` largely because the code doesn't try:

[code]

Talk about epic clowntown. But even when you ammend that to pick up macaddress there, it won't work and this is because above that it does some route selection magic:

[code]

Which doesn't work because there is no `src` on your average v6 routes:

[code]

So that code doesn't even come close to working. Therefore the

[2015-12-16 02:20] jaymzh commented on #685
This horribleness makes it sorta work for me... but I"m very unclear on 1. How network.rb and linux/network.rb are working together (and somehow both touch the same attr which is crazy to me) or 2. How this routewalking is supposed to work... but maybe this can get someone started:

[code]

[2015-12-16 10:35] tmaier opened #686 "Get ipaddress for docker container"
Docker containers might not have ifconfig.

Ohai should use an alterntive approach to get the ipaddress. E.g. http://stackoverflow.com/questions/27670495/can-i-get-ip-address-inside-my-docker-container

[2015-12-17 01:16] tas50 commented on #685
Here's Ohai output for reference:

Hybrid setup:
https://gist.github.com/tas50/d58d2ba2bb6701e758de

IPv6 only:
https://gist.github.com/tas50/dbb18c4644f8281b29a4

[2015-12-17 19:36] tas50 commented on #685
@jaymzh Any chance you help me understand the exact network setup you're using?  I haven't run IPv6 on Linux before so what someone's setup would look like is a bit unknown to me.  Our current tests check for a system running IPv6 only, as in even lo has no IPv4 address.  That seems to work as expected.  What we're not testing for, and not handling apparently, is IPv4/IPv6 on lo, but only IPv6 on

[2015-12-17 20:28] jaymzh commented on #685
What do you mean it works as expected - your gist above shows the problem precisely:

https://gist.github.com/tas50/dbb18c4644f8281b29a4#file-gistfile1-txt-L44

And yes, I can send you a private gist with route tables and interface configs if you'd like.

[2015-12-17 23:54] tas50 commented on #685
@jaymzh When I referred to working as expected I meant on an absolutely pure IPv6 only host, which I suspect is not what most IPv6 setups look like.  Things are absolutely not working as expected for a simple IPv6 setup. If you want to shoot me a gist at tsmith at chef.io that would really help.

[2015-12-18 01:47] jaymzh commented on #685
Done.

[2015-12-18 01:48] jaymzh commented on #685
tldr; Generally speaking, 127.0.0.1 is always going to work - you don't need external v4 for that and too many things hard-code it. We have no v4 addr on eth0.

[2015-12-19 01:55] tas50 opened #690 "IPv4 should not have precedence over IPv6 for macaddress attribute"
In our network plugins we prefer IPv4 interfaces over IPv6 when it comes to deciding the macaddress attribute (and potentially others).  At the time this might have been the best solution, but as IPv6 becomes more mainstream we're going to need a different solution.  Either an additional attribute so we store both v4 and v6 mac addresses, or a config flag to let organizations change which is prefe

[2015-12-21 19:40] mfischer-zd opened #691 "EC2 autodetection is broken"
EC2 instances no longer have a MAC address that matches the pattern provided (`fe:ff:ff:ff:ff:ff`) so the `has_ec2_mac?` function is no longer reliable.

So, for now, the only way to get Ohai to provide EC2-related attributes is to provide a hint file (usually `/etc/chef/ohai/hints/ec2.json`) with an empty JSON object in it.

[2015-12-21 23:09] aklyachkin opened #692 "VIOS detection for AIX plugin"
### Version: 8.7.0

# lslpp -L chef
  Fileset                      Level  State  Type  Description (Uninstaller)
  ----------------------------------------------------------------------------
  chef                      12.5.1.1    C     F    The full stack of chef
# ohai --version
Ohai: 8.7.0

### Environment:
AIX/Power, Virtual I/O Server 2.2.1.0

### Scenario:
ohai doesn't recognize VIOS (a spe

[2015-12-21 23:30] aklyachkin opened #693 "Incorrect output of os_version on AIX"
### Version

    # lslpp -L chef
      Fileset                      Level  State  Type  Description (Uninstaller)
      ----------------------------------------------------------------------------
      chef                      12.5.1.1    C     F    The full stack of chef
    # ohai --version
    Ohai: 8.7.0

### Environment

AIX 6.1 or 7.1

### Steps to reproduce

    # ohai os
    [
      "aix

[2015-12-23 02:34] whiteley opened #696 "Main routing table too large for default Ohai plugin"
As part of the `linux/network.rb` plugin `check_routing_table` causes us some issue listing the main routing table on machines where it is far too large. It would be helpful to figure out an acceptable way to limit this to the default routing table as a configurable option.

The change I'm talking about would be as seen in https://gist.github.com/whiteley/cbc4e9ef217310410878 but it's undesirable

[2015-12-24 00:15] btm commented on #685
@jaymzh @tas50 can one of you forward me those route tables? btm@chef.io.

[2015-12-24 01:18] jaymzh commented on #685
Sent.

[2016-01-01 23:35] bdwyertech commented on #492
Quite surprised how quiet this is being that `cloud_v2` is picking up the wrong IP address for `local_ipv4`...

[2016-01-07 21:39] PatrickWalker opened #701 "Empty Result Running Windows 10"
Hey

Having an issue running Chef Unit tests which I *think* is caused by empty result set from ohai.

On running Ohai I get the following output
{

}

Any ideas?

Version is 8.8.1 and the user should be a local admin etc. I'm not passing any command line arguments which I'm guessing may be part of the cause.

Futher Details :
It seems to be discovering the correct, or I assume correct, plugin dir

[2016-01-08 19:42] #685 closed

[2016-01-10 00:14] PatrickWalker commented on #701
Looks like it's
` Dir[File.join(ChefConfig::PathHelper.escape_glob(plugin_dir), "**", "*.rb")].map do |file|`
That is causing me issues. This is an empty enumerator. That's because seemingly of backslashes in the path

Now from debugging it seems like its the PathHelper that's putting it in because if I change it to
`Dir[File.join(plugin_dir, "**", "*.rb")].map do |file|`

It does run successfully

[2016-01-11 23:36] PatrickWalker commented on #701
I downgraded to Ruby 2.0.0 from 2.2.3 and it seems to work now. The IRB still seems unhappy with using \\ in a DIR[] call but as I said it is working in 2.0.0 Ruby

[2016-01-14 22:53] mcquin commented on #701
There is a PR in chef that I think should fix the path escaping and globbing. https://github.com/chef/chef/pull/4195

[2016-01-15 08:27] PatrickWalker commented on #701
Thanks.

[2016-01-19 18:50] #696 closed

[2016-01-19 21:58] ayanich opened #706 "GCE autodetection broken if ISP intercepts NXDOMAINs"
In the case where an ISP's DNS servers hijack NXDOMAIN requests, ohai ends up marking a node as gce. Perhaps looking and verifying some keys would be more foolproof?

[2016-01-25 06:06] tas50 commented on #691
In a VPC the current MAC address detection is definitely broken.  We should expand our "looks like ec2" logic to include dmesg output on Linux which includes a mention of Amazon.  There's probably something similar on Windows.

[2016-01-25 06:07] tas50 opened #708 "Poll Openstack metadata when we have Openstack DMI"
We already detect Openstack Linux guests based on DMI information.  We should use that information to decide if we should poll the metadata endpoint.  This is similar to the logic we use on EC2 when deciding if we should poll the metadata.

[2016-01-26 16:42] acaiafa opened #709 "improve detection of clouds when we’re lacking hint data"
improve detection of clouds when we’re lacking hint data @tas50

[2016-01-26 16:42] #709 closed

[2016-02-01 21:26] tas50 commented on #691
https://github.com/chef/ohai/pull/711 should fix this

[2016-02-01 21:38] tas50 commented on #690
We resolved the issue with hybrid stacks that lacked an actual ipv4 and decided that for now we're going to stick with ipv4 as the "default" stack.

[2016-02-01 21:38] #690 closed

[2016-02-01 21:41] tas50 opened #712 "Make more generic mixin for fetching metadata"
We've duplicated the code in the EC2 plugin almost line for line in multiple mixins.  It would make much more sense to create a generic non-blocking http request handler mixin for polling metadata endpoints.

[2016-02-02 05:31] jaym opened #715 "Running Ohai in appveyor takes nearly 2 mins on Windows"
Running Ohai 8.9 is extremely slow on Windows. In appveyor, it takes nearly 2 mins. This seems to have been caused by the addition of the package plugin. Attached the run times for each plugin below:

[code]

cc @adamedx @danielsdeleo

[2016-02-02 16:56] danielsdeleo commented on #715
Did we just introduce the package plugin in this release? Thoughts about removing it?

[2016-02-02 17:14] tas50 commented on #715
The package plugin is new for this release so it hasn't actually shipped to anyone.

[2016-02-02 17:19] smurawski commented on #715
There are a bunch of folks doing what the package plugin does in their recipes and for the normal use of chef-client, having that pulled in by ohai at the start of the run is a better workflow.

[2016-02-02 17:20] danielsdeleo commented on #715
Is that worth the extra 90s for everyone?

[2016-02-02 17:29] smurawski commented on #715
@danielsdeleo I think for most server workloads it won't be anywhere near 90 seconds.. the appveyor build workers have an insane amount of software installed on them for a server (to run just about any type of common windows software build).

[2016-02-02 17:30] jaym commented on #715
90s seconds seems like a worst case. On my box it adds 10 seconds, which IMO is still a lot. If we want to include this, we need to make it something that does not run by default. We can discuss ways to make this seamless for users, but I do not think the added time is acceptable.

[2016-02-02 17:37] lamont-granquist commented on #715
IMO back it out until we at least get default-disabled plugins and an enabled_plugins config option.

[2016-02-02 17:48] danielsdeleo commented on #715
Yeah, I'm in the process of removing the pnp plugin because it's slow and most folks don't need the data. For now I'm extracting it to a cookbook, which could be a general  "windows-ohai-extras" thing where we could also put the package plugin until we make it much easier to handle plugins that are useful but have bad tradeoffs for folks who don't need them.

[2016-02-03 20:03] jaym commented on #715
fixed by #717

[2016-02-03 20:03] #715 closed

[2016-02-04 16:07] davidnewman opened #726 "Not detecting java openjdk 1.8"
It looks like there is a bug in the java.rb plugin where the version string is not correctly parsed for openjdk version 1.8.
I have tested against ohai version 8.10.0 on a CentOS 6.7 system and observered the following:
[code]
Note the first line of output for openjdk 1.7.
This is what you see for openjdk 1.8:
[code]
Again, note the first line of output.
The issue is with the following regex in ja

[2016-02-04 16:12] davidnewman commented on #726
Pull request is here: https://github.com/chef/ohai/pull/727

[2016-02-05 00:59] tas50 opened #728 "Make a helper for shelling out"
We need a helper for shelling out that does the following:

Shells out
Logs debug output of what was run if it was successful
Rescue exceptions
Logs debug output on what failed

[2016-02-05 01:00] #691 closed

[2016-02-05 01:01] tas50 commented on #657
This is fixed by #714

[2016-02-05 01:01] #657 closed

[2016-02-05 01:03] tas50 commented on #605
@jedugas Were you able to verify the hint file functionality?  Also the latest version of ohai should detect your EC2 nodes without the hint.  We've made improvements to that detection logic, with more improvements going into the next release as well.

[2016-02-10 17:52] tas50 commented on #726
Fixed on master now

[2016-02-10 17:52] #726 closed

[2016-02-10 23:18] tas50 opened #729 "Remove sigar from the top level plugins"
We have alternative code paths depending on if sigar is installed or not.  This seems unecessary and likely to break people as a system with sigar installed will more than likely produce different results than those from a vanilla omnibus build.  We should remove it from high level plugins and leave the single use in hpux.  This is a breaking change that should probably be reserved for Ohai 9.0

[2016-02-11 14:57] jsmickey opened #733 "ohai[reload] executing during every converge"
I have a wrapper cookbook with:
  include_recipe 'aws::ec2_hints'

The recipe runs and works as expected.  But the following is being run every time
[code]
Chef log shows this:
[code]
I get the same output on every converge.  The OS is Ubuntu 14.04.  I'm not sure about the references to solaris2.  Is anybody else seeing this output?  Any ideas on how to fix this?

[2016-02-15 04:52] tas50 commented on #733
This repository if for Ohai the application.  You'll want to file this issue against the ohai cookbook here: https://github.com/chef-cookbooks/ohai

[2016-02-15 04:52] #733 closed

[2016-02-17 18:14] lamont-granquist commented on #530
If that information comes from a file in /proc we should probably get it out of there first.

[2016-02-17 18:16] thommay commented on #537
it would seem reasonable to time out the call to `df` after 30 seconds or so

[2016-02-17 18:18] thommay commented on #537
(you'll presumably have a zombie df hanging around, but there's not much we can do about that)

[2016-02-17 18:18] lamont-granquist commented on #556
The sigar plugin is optional and deprecated and should not be in the ohai.gemspec

[2016-02-17 18:22] lamont-granquist commented on #556
The plist gem is pure ruby with no obnoxious deps so it could be added.  I think we wind up with it anyway due to chef now having a dep on it.

[2016-02-17 18:29] lamont-granquist commented on #607
This is almost more of a SO question than a bug report.  The enhancement that would make this better is captured here:

https://github.com/chef/chef-rfc/blob/master/rfc059-ohai-cookbook-segment.md

We should definitely support dropping a custom plugin that overwrites a built-in one and making sure the cookbook ohai run overwrites it as part of implementing that RFC

[2016-02-17 18:29] #607 closed

[2016-02-17 18:31] lamont-granquist commented on #580
I'm pretty certain I fixed this by adding validate_utf8: false:

https://github.com/chef/ohai/blob/ac9f5a2ae4ada9f2e6e821418ed3a9039bda9a91/lib/ohai/system.rb#L184-L186

[2016-02-17 18:31] #580 closed

[2016-02-17 18:32] #595 closed

[2016-02-17 18:36] lamont-granquist commented on #520
There's also these RFCs which will make things better:

https://github.com/chef/chef-rfc/blob/master/rfc059-ohai-cookbook-segment.md
https://github.com/chef/chef-rfc/blob/master/rfc060-metadata-gem-installation.md
https://github.com/chef/chef-rfc/blob/master/rfc040-on-demand-cookbook-libraries.md

[2016-02-17 18:37] thommay commented on #520
Hi,
Very sorry this has been sat around for so long. Assuming you didn't come up with a solution, what's happening is that when you reload ohai, that's happening after your cookbook has changed the $load_path, so everything work ok. But in a normal run, ohai gets run before any cookbook has been compiled or run, so the load_path will be unchanged. Lamont has just pointed out some RFCs that will ma

[2016-02-17 18:37] #520 closed

[2016-02-17 18:39] thommay commented on #382
#736 should make this better

[2016-02-17 18:45] lamont-granquist opened #738 "Drop default mixlib-shellout timeout down to something more appropriate for ohai"
I'd say roughly 30 seconds?  If we don't get a result from any ohai command that is probably too long.

The default mixlib-shellout timeout is geared towards general purpose chef-client usage, where we might be installing an application that compiles half the native gems on rubygems or something.   Nothing that ohai launches should take more than about 30 seconds or its pretty busted.

[2016-02-17 18:46] smurawski commented on #738
:+1:

[2016-02-17 18:46] lamont-granquist commented on #622
#738 should fix this kind of problem in the general case.

[2016-02-17 18:46] #622 closed

[2016-02-17 18:47] thommay commented on #738
we should definitely drop the time out, but let's test across the board to see what's appropriate given the ... crankiness ... of some of our platforms

[2016-02-17 18:47] lamont-granquist commented on #537
closing since #738 is a more general solution

[2016-02-17 18:47] #537 closed

[2016-02-17 18:48] lamont-granquist commented on #536
Is this replicatable in the filesystem2 plugin?

[2016-02-17 18:49] lamont-granquist commented on #738
I think 30 should most likely be the default, and we should tune the odd plugin higher after we determine it needs it.

[2016-02-17 18:52] thommay commented on #643
Is this fixed with the latest release of ohai? we did some work around properly detecting v6 addresses recently.

[2016-02-17 18:54] lamont-granquist commented on #728
* sets timeout to 30 seconds per #738

[2016-02-17 18:54] thommay commented on #706
#736 might well help here

[2016-02-17 18:57] #556 closed

[2016-02-17 22:07] danielsdeleo commented on #738
I'm cool with this

[2016-02-18 02:49] liutc commented on #537
Changing the default timeout to 30 seconds can resolve the problem. The issue then is whether the filesystem (or new filesystem2 plugin) can still get some information of the local filesystems. 
 
 
Best Regards,Dr. Tiancheng Liu (刘天成)Cloud Operations TechnologyIBM Research - ChinaPhone: (86-10)58748521Fax: (86-10)58748731Email: liutc@cn.ibm.comAddress: Building 19 Zhongguancun Software Park, 8 Do

[2016-02-18 03:33] tas50 commented on #738
#732 will resolve this.  I just need to write some tests for it.

[2016-02-18 19:07] jennyfountain opened #741 "Ohai reporting Manfacturer as UNKNOWN"
CentOS 6.6
# dmidecode 2.12
SMBIOS 2.8 present.

Handle 0x0006, DMI type 1, 27 bytes
System Information
	Manufacturer: HP
	Product Name: ProLiant DL360 Gen9
	Version: Not Specified

Linux xxxx 2.6.32-504.el6.x86_64 #1 SMP Wed Oct 15 04:27:16 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux

xxxxxxx:
  dmi.system:
    all_records:
      Array Handle:             0x0008
      Asset Tag:                Not Sp

[2016-02-22 22:02] JCapriotti opened #746 "Issue with how IP Address is determined for Windows?"
I'm experiencing an issue with how Ohai is returning the IP address of nodes in my Windows environment. Our nodes have multiple network interfaces, and it seems to be configured in [this manner](http://directaccess.richardhicks.com/2013/06/19/network-interface-configuration-for-multihomed-windows-server-2012-directaccess-servers/). In my case, using the article's lingo, we want Ohai to return the

[2016-03-01 04:58] tas50 opened #749 "KVM modules is a bogus way to detect a KVM host"
Here's an Openstack guest:

root@ohaitest:~# cat /proc/modules
dm_crypt 23177 0 - Live 0xffffffffa0012000
kvm_intel 143187 0 - Live 0xffffffffa028c000
kvm 455843 1 kvm_intel, Live 0xffffffffa00d3000
serio_raw 13462 0 - Live 0xffffffffa0035000
psmouse 106692 0 - Live 0xffffffffa0019000
floppy 69418 0 - Live 0xffffffffa0000000

Yet:

  "virtualization": {
    "systems": {
      "kvm": "host",

[2016-03-03 05:43] tas50 commented on #693
@aklyachkin Thanks for the super detailed report.  This information is very useful.  I'm going to see if I can get access to an AIX box here to try to fix this.  Doesn't look too tricky.

[2016-03-03 23:00] tas50 commented on #749
Closing this now that we have a PR to fix it

[2016-03-03 23:00] #749 closed

[2016-03-03 23:09] tas50 commented on #741
@jennyfountain Thanks for getting this bug in and sorry for taking so long to get back to you. I didn't mean to blackhole your list discussion into a GH issue. From your dmidecode and ohai output it definitely seems like we're not decoding the system information correctly. I'll see what I can find.

[2016-03-03 23:24] tas50 commented on #741
@jennyfountain Can you post a gist or e-mail (tsmith[AT]chef.io) me the output of 'ohai -l debug'.

[2016-03-04 21:09] tas50 opened #757 "Solaris virtualization does not use systems setup"
Solaris only supports a single virtualization value at node[:virtualization][:system] so nested virtualization isn't reported correctly.

[2016-03-04 21:10] tas50 opened #758 "HyperV, Xen, HVM paravirt, and vbox not detected on Solaris"
The DMI logic for Solaris hasn't been updated in a very long time.  We should see if we can make it use the Linux DMI decode logic so we don't have to update the strings in 2 places.  We're doing that on BSD and it's working nicely.

[2016-03-04 21:12] tas50 opened #759 "Solaris doesn't use our standard CPU reporting logic"
CPU, Real, Cores isn't being reported on Solaris

[2016-03-05 04:15] tas50 commented on #665
I'm going to say this might actually make sense.  We also detect Amazon as Xen.  It's true.  Let's roll with it.

[2016-03-05 04:15] #665 closed

[2016-03-06 17:28] tas50 commented on #758
This is fixed by #760

[2016-03-06 17:28] tas50 commented on #757
This is fixed by #760

[2016-03-06 17:29] tas50 opened #762 "Create a mixin for http connections"
We've cargo culted the code the ec2 metadata mixin in multiple places.  The logic is fairly generic and we should use it anytime someone wants to make a http call:

Try to open a socket
If the socket can be opened then fetch the http data
Handle errors in the various places we can fail
Debug logging everywhere

[2016-03-07 04:15] tas50 opened #763 "Legacy EC2 detection causing long runs on Rackspace"
We're currently getting stuck running the EC2 detection when on Rackspace which is adding 2 minutest to the Ohai run.  We need to fix the false detection here and implement a timeout to prevent this sort of thing in the future.

[2016-03-08 19:56] tas50 commented on #763
Fixed with #764

[2016-03-08 19:56] #763 closed

[2016-03-08 19:56] #758 closed

[2016-03-08 19:56] #757 closed

[2016-03-09 18:10] lamont-granquist commented on #614
feels like this could be handled by a custom ohai plugin as well.

[2016-03-09 18:15] thommay commented on #692
ping @chef/client-aix @scotthain

[2016-03-09 18:15] lamont-granquist commented on #686
I would actually vote to close this.  The alternative solutions in that stackoverflow question involve installing 'ifconfig' or 'ip' (the right solution IMO, but which is not really a solution).  Or else parsing /etc/hosts, which is the kind of brittleness which is going to be fraught with peril.  Or else hitting various metadata endpoints for whichever cloud service you are on, which we already d

[2016-03-09 18:18] thommay commented on #492
this is implemented in #649

[2016-03-09 18:23] lamont-granquist commented on #701
fixed by #747 ?

there may be remaining issues with escape_glob vs escape_glob_dir but not that i can see in this repo and those would be chef/chef bugs...

[2016-03-09 18:23] #701 closed

[2016-03-09 18:24] lamont-granquist commented on #762
dup of #712?

[2016-03-09 18:25] tas50 commented on #762
712 might not be needed after this, but it depends on the scope of the http mixin.

[2016-03-09 18:27] thommay commented on #605
Hi, we're closing this issue since it appears there was a solution and there's nothing we need to fix. If that's not the case, please feel free to reopen this bug.

[2016-03-09 18:34] lamont-granquist commented on #746
default gateway of '0.0.0.0' seems wrong.  i'd be concerned that this host got configured with a netmask of '0.0.0.0' instead of '255.255.255.0' or whatever and its ARP'ing on its subnet for the entire internet and has its own interface as its default gateway essentially.

of course we could just be buggy when we have two NICs as well...

[2016-03-09 18:35] thommay commented on #693
ping @chef/client-aix

[2016-03-09 19:57] tas50 commented on #741
This was resolved in an e-mail thread by upgrading to the latest Chef/Ohai.  The issue was seen in Ohai 7.X.

[2016-03-09 19:57] #741 closed

[2016-03-09 21:06] smurawski commented on #746
@JCapriotti I've tried setting up machine with multiple NICs and mulitple default gateways and I can't replicate the behavior.

I also don't quite get why you would be getting 0.0.0.0 as a default gateway.  Could you share what version of ohai you are seeing this with, along with the output from ohai and `ipconfig /all` in a gist?

[2016-03-09 22:10] GenPage commented on #492
@thommay @bdwyertech @rmoriz I'm taking over for @mitayai on this. I'll submit a new PR when it's ready.

[2016-03-10 02:00] grosser opened #771 "Please set source-code-url for https://rubygems.org/gems/ohai"
## Description

Finding this project is hard / requires google, please add a link to the rubygems page.

(need to be gem owner to edit)

@jkeiser

[2016-03-10 02:01] grosser opened #772 "Change rake dependency to `'>= 10.1', '<= 12.0'`"
## Description

New rake version came out today and we cannot use it, because ohai has rake 10 locked  ... please allow update to rake 11

@jkeiser

[2016-03-10 16:19] GenPage commented on #492
I have submitting a new PR for this #773

[2016-03-10 18:45] JCapriotti commented on #746
@smurawski  Here you go: https://gist.github.com/JCapriotti/3792a0bf2b020aba7a31

I also included a [PowerShell snippet](https://gist.github.com/JCapriotti/3792a0bf2b020aba7a31#file-win32_networkadapterconfiguration-md) which is how I determined the last adapter in the list is returning 0.0.0.0 as the default gateway. My assumption here is the Ruby code will also return that value...

I mentioned

[2016-03-11 18:58] tas50 commented on #771
Done.  Thanks for noticing that @grosser

[2016-03-11 18:58] #771 closed

[2016-03-14 17:00] scotthain commented on #692
Just as a clarification: we don't officially support/test chef-client or ohai on VIOS. That being said I don't have any problem with this if a patch were to come in.

[2016-03-15 01:12] mwrock commented on #772
fixed via #774

[2016-03-15 01:12] #772 closed

[2016-03-16 19:21] tas50 opened #777 "This is a test issue"
## Description

Briefly describe the issue

## Ohai Version

Tell us which version of Ohai you are using.

## Platform Version

Tell us which Operating System distribution and version Ohai is running on.

## Ohai Output

If relevant please include your complete Ohai output or link to a gist. Make sure to change any values that may be sensitive.

The debug output (ohai -l debug) may be useful, but

[2016-03-16 19:21] #777 closed

[2016-03-22 22:22] meringu opened #781 "EC2 plugin fails to detect Windows"
## Description

Ohai consistently fails to detect it is running on an EC2 instance in windows.

This line could be problematic, https://github.com/chef/ohai/blob/master/lib/ohai/plugins/ec2.rb#L33

## Ohai Version

    ohai -v
    Ohai: 8.8.1

## Platform Version

    Windows 2012r2

## Ohai Output

When running

    ohai -l debug ec2

I get

    [2016-03-22T22:09:45+00:00] DEBUG: has_ec2_mac? ==

[2016-03-30 16:19] mcquin commented on #781
It'd be great to get automatic detection of EC2 for windows. :)

In the meantime, you can work around this by [adding an ec2 hint to your node](http://geekblood.com/2015/03/13/enabling-ec2-metadata-in-ohai/) before your next chef-client run. There's a little [documentation on hints](https://docs.chef.io/ohai.html#hints), too.

[2016-04-01 19:16] williamsjj opened #791 "IPv6 gateways ending in :: cause Ohai to not record any valid network interfaces (including IPv4)."
## Description

Having a default IPv6 gateway that ends in :: like `2604:1380:0:9900::` causes Ohai to throw an exception and not record **any** network information into `node[:network][:interfaces]` including IPv4.
## Ohai Version

8.11.1
## Platform Version

Ubuntu 14.04.3 x64
## Ohai Output

[code]
## IP interfaces and routes:

[code]

[2016-04-02 01:58] juliandunn commented on #729
Since HP-UX isn't supported anymore by Chef/Ohai I'm sure you could just rip out sigar.

[2016-04-04 16:42] #693 closed

[2016-04-04 20:15] williamsjj opened #792 "Empty default_interface when using policy-based default routes"
## Description

When using a policy-based default route, Ohai can't find it and nils default_interface.

## Ohai Version

8.11.1

## Platform Version

Ubuntu 14.04.4 x64

## Ohai Output

[code]

[code]

[2016-04-05 16:00] crunchywelch commented on #792
+1 this is going to be a common config for our customers over at @packethost would love to see this fixed!

[2016-04-05 16:02] crunchywelch commented on #791
+1 we support full v6, and I imagine this would be a common scenario, would love to see it fixed

[2016-04-07 23:15] tas50 opened #794 "Create a helper for accessing Mash data"
It's difficult to check deep Mashes right now without throwing errors that need to be rescued.  Instead of writing repetitive defense code around this it would be nice to create a helper for accessing the methods.  If the attribute data isn't there it would log and return nil, otherwise it'd return the data.  This would prevent the need for things like this:

[code]

[2016-04-08 01:01] tas50 commented on #781
@meringu Hints are always going to be your best bet, but I've included improved auto detection for EC2 in #793 which includes detection of AWS Windows instances based on the owner data.  This won't detect custom AMIs, but it will detect anything provided by Amazon. It should be included with the next Chef release if all goes as planned.

[2016-04-08 01:01] #781 closed

[2016-04-08 01:02] #738 closed

[2016-04-08 01:02] tas50 commented on #738
This has been merged to master

[2016-04-08 18:20] mcquin commented on #794
Notes: We have checkers and fetchers for top-level attributes, but no helpers for subattributes.

[2016-04-22 15:17] thenoid opened #809 "ohai dislikes inclusion"
## Description

if the chef client.rb contains the chef::config.from_file (as rendered by the chef maintained chef-client cookbook) ohai, when run in standalone mode, throws an NameError: uninitialized constant Class::Chef

## Ohai Version
Ohai: 8.11.1
## Platform Version
RHEL
## Ohai Output

[code]

[2016-04-22 16:13] #794 closed

[2016-04-25 22:23] #728 closed

[2016-04-25 22:23] tas50 commented on #728
This has been done

[2016-04-25 22:24] tas50 commented on #706
I believe we probably solved this in the latest chef/ohai combo.  Can you give a try and open this back up if it's still a problem @ayanich

[2016-04-25 22:24] #706 closed

[2016-04-26 16:15] mcquin commented on #809
Hi @thenoid . We've release version 4.5.0 of the chef-client cookbook, which includes a fix for the issue you're seeing. Additionally you can edit your `/etc/chef/client.rb` to reference `ChefConfig::Config.from_file(file)` instead of `Chef::Config.from_file(file)` on line 21, there.

[2016-04-26 16:15] #809 closed

[2016-04-28 19:15] tas50 opened #815 "Erlang plugin only know about major versions"
## Description

The erlang ohai plugin only reports the major version of Erlang not the complete version
## Ohai Version

Master
## Platform Version

OS X 10.11 with homebrew install of erlang

[2016-05-04 17:35] lamont-granquist commented on #792
looks like this was introduced in 09645d6fb7940f40113eab22f1e66b92af7e508d ?  and it looks like that logic needs was not intended to be applied to the default interface and should not be applied to the default interface?

[2016-05-11 11:50] glensc opened #819 "packages provider inconsistent results"
## Description

i find debian packages listing inconsistent with one that rpm provides.

 - rpm system has "release" portion
 - deb system "release" is included in "version" portion
 - some deb package names contain archtecture `zlib1g:amd64`
 - debian versions also include "epoch"

ideally i'd see:
 - rpm systems include extra `arch` tag
 - deb systems include `arch` tag, extract it from `name` i

[2016-05-16 16:37] #708 closed

[2016-05-18 21:40] EZtheOG opened #825 "EC2 OHAI plugin that has nested information"
## Description

I am moving from Puppet to Chef and in Puppet our manifests have a LOT of AWS EC2 specific logic. Specifically, on our VPN nodes we have a template that uses things like:
`vpn::config::name           =           "{::hostname_full}.conf"`
`vpn::config::public          =           "%{::public_ip}"`

and then do the lookup via facter and put it in the code.

I was hoping to replicate

[2016-05-20 07:01] gibma opened #826 "Wrong detection of nested virtualization"
## Description
I want to get the virtualization info for all KVM domains on my host.

Using the following nested virtualization setup as our dev environment:

**VMWare hosts CentOS hosts multiple KVM guests**

Running OHAI on CentOS detects the KVM only as role "guest", because the detection is based on presence of "hypervisor" in /proc/cpuinfo, which is also present if CentOS itself is a VMWare g

[2016-05-25 19:04] betawaffle commented on #791
This seems to be caused by a bad regex on https://github.com/chef/ohai/blob/eb75927881b10f1c60a26add31f6afe9f773330f/lib/ohai/plugins/linux/network.rb#L111

[2016-06-01 19:35] glensc commented on #819
#820 was merged adding:
- rpm: add epoch, arch
- deb: add arch
- deb: fix arch being part of the name attribute

however, there's still todo:
- deb: explode version to components (epoch, version, release), see questions in #820
- deb: add installdate attribute

[2016-06-15 17:00] smurawski opened #831 "PowerShell Compatible Version Detection"
We've got functional tests breaking because we parse the output of `$psversiontable` for PowerShell compatible versions, when we need to look at `$psversiontable.pscompatibleversions` to get the full array.   The higher level view uses '...' to indicate more versions and that breaks the current regex.

/cc @thommay - this is the appveyor breakage after they moved their base build image to ps5.  Wi

[2016-06-16 18:22] rmoriz commented on #492
by the way: DigitalOcean retired the hints file `/etc/digitalocean`, it will not be created on new VMs e.g. Debian 8-based VMs. So this is currently already broken. Please merge #773

DigitalOcean Support:

[2016-06-17 19:12] goacid opened #833 "plugins/linux/virtualization: if lxc and docker are on the same host, it can't detect lxc"
## Description

Phys Host : ubuntu 16.04 LTS with docker engine 1.11 and lxc 2.0.1 installed.
LXC containers are ubuntu 14.04 with chef (from 11 to latest),which embeded ohai, always the same problem virtualization.rb doesn't detect the container has a guest.
With native ohai same problem.
On same environment, without docker installed in the host, it works fine.
## Ohai Version

From 7.0.4 to late

[2016-06-21 17:38] #831 closed

[2016-07-02 18:26] GenPage commented on #492
Note, that my PR has been expanded on in https://github.com/chef/ohai/pull/823

[2016-07-07 20:17] mcquin commented on #825
As long as `ACTUAL_MAC` evaluates to the string `"0a:0a:4d:bb:34:4d"`, you should be able to access the subnet ID by using `node['ec2']['network_interfaces_macs'][ACTUAL_MAC]['subnet_ipv4_cidr_block']` (note: no `''` around `ACTUAL_MAC`).

[2016-07-13 04:35] trinitronx opened #846 "filesystem Plugin: Single filesystem returned by Ohai for Multiple mounts with same name key"
## Description

Only a single mount under `node['filesystem']` is returned when `ohai` is run on a system with multiple mounts with same name.

Example:

When run on a system with multiple `proc` mounts (e.g.: docker container), only 1 mount is returned, as the Hash / Mash key `proc` is overwritten for each mount of `proc`.  When `chef-client` + `ohai` are run multiple times, a different non-deter

[2016-07-13 04:44] trinitronx commented on #846
The problem is obviously the way that the [Hash is constructed][1] from `/proc/mounts` in a loop.  However, the solution becomes harder due to the fact that current `ohai` `filesystem` Hash key behavior has been set in stone for this & prior releases.  Thus, a change in the way it's done (e.g.: UUID-based?) would probably result in breakage of cookbooks that depend on the previous behavior.

I now

[2016-07-21 21:05] ZeroChaos- opened #849 "ohai/lib/ohai/mixin/gce_metadata.rb does dns lookup for metadata.google.internal"
Is it intentional that this mixin seems to do a dns lookup all the time?  Is there no way to detect if this is a google cloud service machine before making this dns lookup?

[2016-07-21 22:06] tas50 commented on #849
We do the DNS lookup because that works 100% of the time. If we had the chance to do it all over again we would have done our best to detect things and required a hint file for 100% reliable detection. Unfortunately if we move to that method at this point we'll break many users that rely on the 100% reliable detection that is DNS lookups. It's less than ideal and certainly not something we'd do if

[2016-07-21 22:06] #849 closed

[2016-07-29 19:44] coderanger opened #851 "Inadvertent global mixin"
Looking at how things are using `FileMixin` I ran across https://github.com/chef/ohai/blob/80c91e74ac403959d54c9f15b1aa7a3c4fc4bd8b/lib/ohai/plugins/linux/sessions.rb#L21

I think this line is in error, it is mixing the helper in globally (i.e. in to `Object`). I think the intention was to do it inside the plugin body but when things were moved from the old DSL to the new one, it got mixed up. Thi

[2016-07-29 20:25] #851 closed

[2016-07-30 06:23] tas50 opened #853 "Add plugin for rbenv / rvm"
We should gather available rubys in RVM / rbenv. Easy enough to gather and very handy for automating ruby app servers

[2016-07-30 06:24] tas50 opened #854 "Add plugin for available shells"
It would be very useful to have an array of all available shells on the system. The data is really easy to get. Lets get it.

[2016-07-30 18:51] tas50 opened #855 "sbt --version fails on the latest sbt"
## Description

We attempt to get the sbt version in the scala plugin by running sbt --version. This worked recently, but the latest version appears to have broken this.

MBP:~ sbt --version
[error] Not a valid command: version (similar: session)
[error] version
[error]        ^

We need to run sbt about and parse the version from there
## Ohai Version

8.17.1
## Platform Version

OS X 10.11
## Oh

[2016-08-06 18:17] mcquin commented on #854
https://github.com/chef/ohai/pull/856

[2016-08-06 18:17] #854 closed

[2016-08-06 18:22] mcquin commented on #846
@trinitronx Correct. `Filesystem2` is the plugin you should use. The `Filesystem` plugin is outdated.

[2016-08-06 18:22] #846 closed

[2016-08-15 05:08] crouch6 opened #865 "8.19.1 issue with `configured?` method not being found on Logger"
## Description

We use chef in our systems to provision boxes and when updating chef, it grabs the latest ohai. As of this weekend (13/08/2016), when we ran chef-client, we only got the error:

`NoMethodError: undefined method 'configured? for #<MonoLogger:0x007fbe44a345a8>`

 with no stack trace. We eventually found it was coming from ohai.

We conjecture that the latest refactoring of the config

[2016-08-15 05:35] tas50 commented on #865
You should be able to resolve this by updating to mixlib-log 1.7.1. We'll get a fix into ohai to require this version. That part of the migration of mixlib-log was missed.

[2016-08-15 06:31] crouch6 commented on #865
worked a treat.

[2016-08-15 06:45] tas50 commented on #865
Opening this for tracking on the perm fix

[2016-08-25 11:31] huckley commented on #833
cat /proc/1/environ say what?

[2016-08-25 12:02] goacid commented on #833
HOME=/TERM=linuxBOOT_IMAGE=/bzImage-3.14.32-XXXX

[2016-08-25 13:34] lehn-etracker commented on #833
See my patch here https://github.com/chef/ohai/compare/master...lehn-etracker:lxc-2.0?expand=1
I will send a pull request after signing Chef CLA!

[2016-08-25 13:50] goacid commented on #833
Thanks  !

[2016-09-07 14:17] glasschef opened #875 "Uptime Plugin Sporadically Hangs"
## Description

Sometimes the chef-client on Windows will hang during Ohai's uptime checks for an unreasonable amount of time (10s of minutes)

The culprit appears to be the calls to `Win32_PerfFormattedData_PerfOS_System`: https://github.com/chef/ohai/blob/80c91e74ac403959d54c9f15b1aa7a3c4fc4bd8b/lib/ohai/plugins/uptime.rb#L99

This seems to be a bug in the actual Windows WMI service  https://soc

[2016-09-07 14:23] thommay commented on #875
@mwrock @chef/client-windows  PTAL :)

[2016-09-07 14:35] btm commented on #875
Filed internally as CLOGENG-391.

[2016-09-07 19:36] #865 closed

[2016-09-19 22:55] jaymzh opened #878 "ohai no longer prints debug info in standalone executions"
## Description

When I run `ohai -l debug` I expect to see plugin failures.

But I do not.
## Ohai Version

8.19.1.

Chef 12.13.37
## Platform Version

CentOS7
## Ohai Output

N/A

[2016-09-19 23:23] jaymzh opened #879 "make a required/critical plugins list"
## Description

(perhaps this should be an RFC... if so, let me know and I'll write one).

It would be really nice if we could have a list of plugins that are required. We currently have a resource early on in our run that checks for `node[:fqdn]`, `node[:filesystem2]`, etc. - and apparently @coderanger  does as well.

Why not have an `ohai.config[:required_plugins]` where if those plugins fail, O

[2016-09-20 13:15] Zhann opened #880 "ohai mount size bug with duplicate mount points"
## Description

If a filesystem is mounted multiple times (cfr. with Docker):

[code]

only the first of those duplicate mount points will get usage stats https://github.com/chef/ohai/blob/80c91e74ac403959d54c9f15b1aa7a3c4fc4bd8b/lib/ohai/plugins/linux/filesystem.rb#L86:

[code]

and other attributes will get mixed.
## Ohai Version

tested on 7.4.0 and master
## Platform Version

Debian 8.2
## Oha

[2016-10-03 21:16] mcquin commented on #879
This is very similar to an idea that we did not have a chance to implement with Ohai 7. I like the concept of being able to configure this for your specific needs, rather than a fixed list.

Regarding a need for an RFC, this is probably a small enough change (code-wise) that it probably doesn't need one. However, there are few (intentional) errors raised by plugins, if any, which cause Ohai to ter

[2016-10-03 21:16] mcquin commented on #879
If you wanted to propose a list of always required plugins, then I'd definitely say RFC.

[2016-10-03 21:20] tas50 commented on #879
It seems like a list of core plugins would be handy to have. Fun fact: we added 10 new plugins in the last year. We have a lot of them now.

[2016-10-04 04:51] jeunito commented on #643
We just started using IPV6 and got curious about ohai's support. However I couldn't replicate this either. @vegardx the output of ```ip addr``` will be more useful so that could be plugged into the unit tests.

[2016-10-06 00:56] mcquin commented on #880
In 8.5.0 we introduced a `Filesystem2` plugin which handles this case. A description of how it works is here: https://github.com/chef/ohai/pull/559.

We currently treat the `Filesystem` plugin as deprecated. Please upgrade Ohai and use `Filesystem2`.

[2016-10-25 17:45] numericillustration opened #891 "SmartOS VMWare guests who are also hosts should be detected as hosts even when not running nested guests."
## Description

When running SmartOS as a VMware Fusion guest with nested virtualization enabled, Ohai improperly detects a SmartOS host as a Virtualization guest rather than a host when there are no virtualization guests running on it.  As soon as a single guest instance is running on the SmartOS host, ohai properly detects the host as a host.
## Ohai Version

Ohai: 8.11.1
## Platform Version

un

[2016-11-10 00:32] damm opened #896 "languages[:ruby][:gem_bin_dir] is not correctly set"
## Description

* Using ruby from Ubuntu 16.04
node['languages']['ruby']['gem_bin_dir'] is pointed to `/usr/bin` however binaries are installed into `/usr/local/bin`.

## Ohai Version

root@warehouse:~# ohai --version
Ohai: 8.14.0

Tell us which version of Ohai you are using.

## Platform Version

[code]

## Ohai Output

https://gist.github.com/damm/54a944dde9ed3c4459b42ee0f104d2d2

### Personal d

[2016-11-16 22:02] jaymzh opened #903 "'block_devices' gets `rotational` wrong"
## Description

ram devices and loop devices both show up as rotational.

## Ohai Version

8.19.1

## Platform Version

CentOS 6 and CentOS 7

## Ohai Output

[code]

[2016-11-18 12:33] ocsi01 opened #904 "CPU model_name is returning CPU description instead of name"
## Description

In ohai/lib/ohai/plugins/windows/cpu.rb:
`cpu[current_cpu]["model_name"] = processor["description"]`

The description field has a different result compare to what the "model_name" contains under the linux implementation:
Name: Intel(R) Xeon(R) CPU E5-2697 v3 @ 2.60GHz	(Windows)
Description: Intel64 Family 6 Model 63 Stepping 2        (Linux)

[http://www.c-sharpcorner.com/blogs/get

[2016-11-28 15:05] Fodoj opened #906 "Dynamic data is not collected"
## Description

In addition to meta-data and userdata EC2 also provides "dynamic" data (not sure why it's called dynamic though). One extra useful attribute that it has, and that seems to be not available in other sources, is AWS account id (try running `curl http://169.254.169.254/latest/dynamic/instance-identity/document`). It is possible to fetch account id from the instance that has IAM role a

[2016-11-29 15:36] numericillustration commented on #891
On further testing, this problem affects SmartOS and probably everything detected as Solaris2 in general, not just the VMWare guests.  The main difference is that when a VMWare guest (or other type handled by the dmi code), the dmi parsing and finding VMWare results in virtualization[:role] being set to "host" and when not VMWare, the dmi parsing returns nil so virtualization[:role] is left unset.

[2016-11-30 04:33] #875 closed

[2016-11-30 04:33] tas50 commented on #875
Closing as this was resolved and shipped

[2016-11-30 04:34] #825 closed

[2016-11-30 04:34] tas50 commented on #825
Closing based on @mcquin's response

[2016-11-30 04:37] tas50 commented on #382
This is resolved with #736 via a short timeout period.

[2016-11-30 04:37] #382 closed

[2016-11-30 04:42] tas50 commented on #422
Previously we needed hints for just about every cloud plugin as we lacked ways to properly detect the providers. For the last 8+ months we've had solid auto detection on all clouds except Azure which lacks a metadata endpoint. Rackspace, GCE, EC2, Openstack all auto detect and grab metadata. Ideally people just stop using the hints. If Azure gets a metadata endpoint we can move to a world where th

[2016-11-30 04:43] tas50 commented on #492
Closing this as we have the PR and are scheduling it for merge with Chef / Ohai 13

[2016-11-30 04:43] #492 closed

[2016-11-30 04:43] tas50 commented on #491
This has been fixed on master and will be shipping in 8.22.0 next week.

[2016-11-30 04:43] #491 closed

[2016-11-30 04:44] tas50 commented on #536
Closing this since we haven't gotten a response about filesystem2. Most of these bugs go away with the new filesystem plugin.

[2016-11-30 04:44] #536 closed

[2016-11-30 04:45] tas50 commented on #646
Closing this out due to lack of response. We've cleaned up a few major bugs in the network detection logic that may have resolved this. Feel free to open it up if you're still seeing the issue.

[2016-11-30 04:45] #646 closed

[2016-11-30 04:46] tas50 commented on #643
Closing this since I'm fairly positive we fixed this last Dec.

[2016-11-30 04:46] #643 closed

[2016-11-30 04:47] tas50 commented on #880
This is resolved in recent Ohai releases. Upgrade to Chef 12 and this should magically go away.

[2016-11-30 04:47] #880 closed

[2016-11-30 04:48] tas50 commented on #906
Fixed in #907

[2016-12-01 18:53] tas50 commented on #815
This is fixed by #916

[2016-12-01 18:53] #815 closed

[2016-12-01 18:54] tas50 commented on #904
@ocsi01 Any chance you can put together a PR to fix this?

[2016-12-02 05:28] axos88 opened #917 "wrong init_package on ubuntu 14.04"
## Description

init_package should report upstart, but it reports init. the contents of /proc/1/cmdline is not enough for determining the init system:

    root@webfe:~# cat /proc/1/cmdline
    /sbin/initroot@webfe:~#

I've seen reports that it does not work with later versions of the OS either, which run systemd

## Ohai Version

master

## Platform Version

    root@webfe:/proc/1# uname -a

[2016-12-02 05:34] axos88 commented on #917
This however gives the correct output. Maybe could be used as an additional check?

[code]

[2016-12-07 16:51] Annih opened #919 "Ohai should have its own proper and dedicated configuration file"
## Current Ohai config file
Currently when I run *ohai* it tries to load a configuration from

|**theorical**| **linux** | **windows** |
|--------------|-------------|----------------|
| `/config.rb`  |`/config.rb` | `c:\config.rb` |
| `~/.chef/config.rb` | `/root/.chef/config.rb` | `c:\Windows\system32\config\systemprofile\.chef\config.rb`  |

Having configuration in `/` or `c:\` is not recommend

[2016-12-13 19:32] rdean716 commented on #664
Is the work required for Windows guests still outstanding?  If so, I will try to take a look at it.

[2016-12-13 19:35] tas50 commented on #664
There's still work to be done improving overall VM guest detection on windows. Take a look at https://github.com/chef/ohai/blob/master/lib/ohai/plugins/windows/virtualization.rb

[2016-12-13 19:39] rdean716 commented on #664
Will do!  Thanks

[2016-12-13 19:52] tas50 commented on #664
If you want to add detection of Xen while you're in there that'd be great. Here's the output of win32_bios on a Xen host:

SMBIOSBIOSVersion : 4.2.amazon
Manufacturer      : Xen
Name              : Revision: 1.221
SerialNumber      : ec2b487f-d9ed-7d17-c7c0-1d4599d6c1da
Version           : Xen - 0

[2016-12-15 21:05] tas50 commented on #422
I'm going to close this out at this point. We've eliminated the main reason for using the hints and I don't see the return being worth the effort of refactoring at this point.

[2016-12-15 21:05] #422 closed

[2016-12-15 21:07] tas50 opened #923 "Remove Ohai::Mixin::Command"
We deprecated this about a year ago. It's not used internally for anything. There may be some users still writing cookbooks based on it, but we've been throwing warnings for a while. We should remove this in 13.0

[2016-12-15 21:09] tas50 opened #924 "Remove support for Ohai v6 plugins"
This is going to break some people so I'm suggesting we do it with the Ohai 14 release in April of 2018. We'll get it noted in the deprecations page for over a year.

[2016-12-15 23:35] tas50 commented on #878
The log file location flag seems to be broken as well

[2016-12-18 19:13] kevsgithub opened #926 "debiewn fami"
## Description

Briefly describe the issue

## Ohai Version

Tell us which version of Ohai you are using.

## Platform Version

Tell us which Operating System distribution and version Ohai is running on.

## Ohai Output

If relevant please include your complete Ohai output or link to a gist. Make sure to change any values that may be sensitive.

The debug output (ohai -l debug) may be useful, but

[2016-12-18 21:59] kevsgithub commented on #926
For anyone looking for a quick hack to fix this, you can add the following in a common recipe :
`## hack to fix chef ohai packages attributes
      packages = Mash.new
      listso = shell_out('dpkg --get-selections | grep "deinstall"')
      delpkgs = listso.stdout.split("\n")
      delpkgs.each do |rpkg|
        rpkg = rpkg.split("\t")
        packages[rpkg[0]] = nil
      end
`
You might need t

[2016-12-20 18:02] tas50 opened #928 "Remove support for Ohai V6 plugins"
Step 1: Add deprecation warning prior to Chef 13 (April 2017)
Step 2: Remove the functionality entirely in Chef 14 (April 2018)

[2016-12-20 18:04] tas50 opened #929 "Remove legacy config logic"
We currently support Ohai::Config and Ohai.config methods. We try to do this in a backwards compatible way and it's really not pretty or entirely working. We've already had deprecation warnings for the old config methods since day 1. We should remove the functionality entirely in Chef 13.

[2016-12-20 18:11] #928 closed

[2016-12-20 18:11] tas50 commented on #928
Dupe

[2016-12-21 16:47] cheeseplus opened #932 "Erlang detection broken for < 17"
## Description

Existing Erlang detection only works for Erlang 17+ with #916

## Example

This the shell commands we execute:

[code]

This is because the releases file and $MAJ.$MIN format were only addd in Erlang 17. The safe command across all versions is:

`erl -eval 'erlang:display(erlang:system_info(otp_release)), halt().'`

but this only returns $MAJ for 17+ so we'll need to do another cal

[2016-12-29 10:46] psyhomb opened #936 "Issue with how mount point is determined for Linux"
## Description
We're using docker overlay2 fs that acts in some way similar to bind fs, though it shares same block device with real fs but with different mountpoint representation. The problem is that ohai plugin (filesystem.rb) will always use the last fs in the list and with that value will populate `mount` key in the `filesystem` hash. Basically at the end we're not going to have a record of r

[2016-12-29 11:23] psyhomb commented on #936
I just discovered `filesystem2.rb` ohai plugin that resolves this issue

[2016-12-29 16:17] #936 closed

[2017-01-14 23:27] erikng opened #940 "Remove Xcode Command Line Tools dependency for macOS"
## Description

Moving from https://github.com/chef/chef/issues/5719

As chef is currently designed, it requires the Xcode Command Line Tools to be installed prior to running chef. While chef does somewhat function, a user is presented a dialog box asking to install the Xcode command line tools.

This becomes problematic as you now need a way to dynamically
pre-install the CLI tools (which change

[2017-01-14 23:30] erikng commented on #940
From the comments:

erikng
[code]

natewalck:
[code]

erikng:
[code]

natewalck:
[code]

erikng:
[code]

natewalck:
[code]

[2017-01-14 23:44] erikng commented on #940
There are two triggers:

https://github.com/chef/ohai/blob/master/lib/ohai/plugins/c.rb#L41

https://github.com/chef/ohai/blob/master/lib/ohai/plugins/c.rb#L105

We should discuss how to handle this, as I think removing the CLI requirement is a huge win for macOS client use.

[2017-01-14 23:51] erikng commented on #940
I have an idea:

For these two commands, perhaps we should run `xcode-select -p` first and if it returns an error, we can assume that the xcode command line tools either don't exist or have become corrupted. If an error exists, we can safely drop these tools from running.

[2017-01-16 23:37] erikng commented on #878
This really makes it hard to debug Ohai and contribute code.

[2017-01-19 22:14] tas50 commented on #878
This commit cause the logging to not be reconfigured with the CLI arguments, which breaks the CLI logging configs:

https://github.com/chef/ohai/pull/863/files#diff-dee5766eb9ab7555535dae03a4674f28R223

If you comment out the return line things work, but I know there was some backstory as to why we did this. @thommay can probably provide the backstory.

[2017-01-20 15:47] #878 closed

[2017-01-20 19:36] tas50 opened #943 "CC detection not working on OS X"
[code]

[2017-01-20 19:40] tas50 commented on #943
We're ended up with clang on OS X, which doesn't accept that flag. This is an easy fix with the refactoring @erikng did which gave us a nice darwin specific setup of checks to run.

[2017-01-23 19:55] erikng commented on #940
Fixed as of https://github.com/chef/ohai/commit/dff145b4a777152b58abe3892ada4a9639bf73d4

[2017-01-23 19:55] #940 closed

[2017-01-24 18:18] #904 closed

[2017-01-24 18:46] #943 closed

[2017-01-24 18:46] tas50 commented on #943
Closing as this check no longer fires on OS X. It was actually for Sun Pro and the method has been renamed the reflect that.

[2017-01-24 18:46] tas50 commented on #929
Merged to master

[2017-01-24 18:46] #929 closed

[2017-01-24 18:47] tas50 commented on #923
Merged to master

[2017-01-24 18:47] #923 closed

[2017-01-24 18:47] tas50 commented on #729
Merged to master

[2017-01-24 18:47] #729 closed

[2017-01-24 18:48] tas50 commented on #664
This was released in 8.23

[2017-01-24 18:48] #664 closed

[2017-01-24 19:50] tas50 commented on #420
We've made some significant changes to falling back to proper domain discovery so I suspect this *may* no longer be an issue at this point. I chatted with @scotthain who no longer has access to the infrastructure where he saw this issue. I'm going to close this out at this point unless someone is still seeing the issue. Feel free to open it up again.

[2017-01-24 19:50] #420 closed

[2017-01-25 19:47] tas50 commented on #903
This comes down to our incorrect use of the /sys/block/loop0/queue/rotational. This is not an informational value, but a tunable for the system. The OS *may* get it right, but the value allows you to instruct the OS to treat it as a non-rotational disk if you know it is in fact one.

https://lwn.net/Articles/408428/

I'm open to a better way of determining this information as this one is pretty fl

[2017-01-26 02:58] kevsgithub commented on #926
This work around no longer works (ohai 8.22.1).
We're left with an inaccurate list that cant be used in any cookbooks.

[2017-02-08 15:28] adamdecaf opened #953 "OSX unable to detect ip address on vpn connection"
## Description
We're using ohai to detect and populate some attributes inside of a cookbook based on the ip address. We're having issues running local tests when connected on

## Ohai Version

`8.23.0`

## Platform Version

Darwin/OSX 10.11.6

## Ohai Output

<details>
<summary>`ohai -l debug` output</summary>
[code]
</details>

`ifconfig` output:
[code]

[2017-02-28 18:40] hfinucane opened #956 "ohai failures are too soft"
## Description

A Chef run on an oversubscribed-on-memory server failed in a dangerous way. It looks like the network plugin failed- probably because of a fork failure, because of low memory- but the error was swallowed, and our Chef cookbooks are not super defensive about Ohai attributes, and we dutifully wrote empty strings and 'localhost.localdomain' into config files, restarted services, and e

[2017-03-08 15:00] sterago opened #962 "Hostnamectl plugin causes systemd Hostname service to restart at every ohai/chef-client run"
## Description

The hostnamectl plugin runs the `hostnamectl` command to determine the value of certain attributes. However, this command triggers the (re)start of systemd's Hostname service.

## Ohai Version

8.23.0

## Platform Version

Debian GNU/Linux 8.7 (jessie)

To reproduce, one can run ohai (or simply `hostnamectl`) on a Jessie machine and inspect the content of the syslog.

Here is a sam

[2017-03-14 20:30] bcg62 opened #963 "change dmidecode ID's to capture"
I have a usecase where i would like to capture additional dmidecode output, but it seems like the ID's ohai captures are hard coded.

Is there a way to change these?
https://github.com/chef/ohai/blob/master/lib/ohai/common/dmi.rb#L74

I'd like to avoid having to write my own plugin to do the same thing with replicated code.

[2017-03-14 20:47] tas50 commented on #963
This is probably something we should allow the user to configure. I'm fairly certain this is actually a duplicate issue though since I know a few people have brought this up since we started filtering the DMI data.

[2017-03-15 16:54] bcg62 commented on #963
I tried to find issues referencing the same request but I couldn't find anything other than the comments in the code and the old ticket that created the filter

https://tickets.opscode.com/browse/OHAI-260

[2017-03-21 23:54] tas50 opened #965 "Be more intelligent about where we pull default plugins from"
In Chef 13 we now include a default plugin path, which makes it much easier to install 3rd party plugins. We're not be entirely smart about where we put the plugin path though. We just ask for an OS specific path in Ohai and that gives us /etc/chef/ohai/plugins or the equiv on windows. On a test kitchen install or a chef solo install though this is still /etc/chef/ohai/plugins, which wouldn't be r

[2017-03-22 00:49] tas50 opened #966 "CloudV2 data not populated in"
In rewriting our digital ocean metadata parsing logic I forgot to update the cloudv2 plugin to properly parse the new network interface format. We need to get this updated before shipping Chef 13. Thanks to @bdwyertech for noticing

[2017-04-03 20:42] #966 closed

[2017-04-03 20:43] tas50 commented on #965
I'm going to close this for now since our logic here actually matches that of hints. There's a bigger conversation to be had about improving this, but it's not specific to plugins.

[2017-04-03 20:43] #965 closed

[2017-04-03 20:43] tas50 commented on #669
Fixed by #974

[2017-04-03 20:44] tas50 commented on #762
Initial mixin has been created and is being used for the cloud plugins now

[2017-04-03 20:44] #762 closed

[2017-04-03 20:45] #712 closed

[2017-04-03 20:45] tas50 commented on #712
We started down this path by creating the http mixin, which dedupes a lot of the code

[2017-04-03 20:47] tas50 commented on #575
In Chef 13 we're removing the filesystem plugin so I'm going to close this issue out. The filesystem2 plugin will now provide node['filesystem'] data in a much more robust format. Give it a try when we release 13.

[2017-04-03 20:47] #575 closed

[2017-04-03 21:56] tas50 commented on #855
we need to use `sbt about` instead

[2017-04-04 00:11] tas50 commented on #855
This is going to be a wontfix. The latest 0.13 releases require us to use sbt about, which first initializes the project in the cwd. In doing this is downloads all the jars it needs and that times out every time. No way I can determine to work about that.

[2017-04-04 00:11] #855 closed

[2017-04-04 21:14] tas50 opened #983 "Ohai docs overlap"
The Ohai page is massive and provides way more information than is actually useful. Most of it is focused around writing ohai plugins, which actually duplicates the ohai plugins page. We should remove all the content in the main ohai page and make sure the writing ohai plugins doc is solid..

https://github.com/chef/chef-web-docs/blob/master/chef_master/source/ohai.rst

vs.

https://github.com/che

[2017-04-04 23:21] #983 closed

[2017-04-04 23:22] tas50 commented on #963
This is fixed by #970

[2017-04-06 19:14] #669 closed

[2017-04-23 14:00] akitada opened #990 "Ohai should not assume networking commands are in the $PATH"
## Description

Ohai network plugin for Linux fails to collect network related attributes
when networking commands like `ip`, `route`, `ifconfig` and `arp` are not in the `$PATH`.

Chef 12 and 13 both have the same issue but it is worse in Chef 13 because
[it no longer enforces path sanity](https://docs.chef.io/release_notes.html#path-sanity-disabled-by-default-and-modified).

See https://github.c

[2017-04-25 20:02] #990 closed

[2017-04-26 17:23] tas50 commented on #511
We actually fixed the security group issue by treating it as an array, but we should mark additional data we find as an array. I've opened a PR for local_ipv4 which can also be 2+ values

[2017-04-26 17:23] #511 closed

[2017-04-27 09:49] ViktorSchlaffer opened #994 "ec2_metadata plugin uses way too much tcp sessions to fetch metadata"
## Description

The ec2 metadata plugin in Chef/Ohai performs http requests to fetch ec2 metadata. The Openstack plugin of ohai uses the EC2 compatibility api of Openstack to fetch metadata. The way it is done right now in the ec2_metadata plugin is to create a new tcp connection for each http request, which is inefficient and does not scale well in Openstack environments.[1]

https://github.com/c

[2017-04-28 04:05] tas50 opened #996 "Support polling metadata from the Azure metadata service"
It's not in every region yet, but they have a preview metadata endpoint.

https://docs.microsoft.com/en-us/azure/virtual-machines/virtual-machines-instancemetadataservice-overview#instance-metadata-data-categories

[2017-04-28 09:33] ViktorSchlaffer commented on #994
Solution provided in #995  resolves the problem, so this issue can be closed, once that solution is merged.

[2017-04-28 16:30] #994 closed

[2017-05-04 16:05] vitclone commented on #792
+1
We're using Linux as a Network Operating System on the 100G bare metal L3 switch. Ohai discovers dozens of ports and tons of routes. Our chef recipes don't use any of routes from attributes, but several recipes relies on the node[:ipaddress] or node[:network][:default_gateway] or node[:network][:default_interface].
All routes, including the default one, originate from BGP. Like others, default

[2017-05-04 17:02] vitclone commented on #792
I think this was introduced in [1d4a81d](https://github.com/chef/ohai/commit/1d4a81d2406966c253524930da092fe52954f7b0)
The code
`iface[tmp_int][:addresses].has_key? tmp_source_addr`
is relevant to the comment "_the ip source address from the routing table is really set on the node_", but this is wrong, because `tmp_source_addr` can be from the other interface on the node.
Later this code transform

[2017-05-09 18:30] therobot opened #999 "Ohai not reporting correctly on DO instances"
## Description

Ohai is not detecting correctly (some) digital ocean instances.

[code]

I've been digging a bit through the code in https://github.com/chef/ohai/blob/master/lib/ohai/plugins/digital_ocean.rb

And I have verified that these attributes don't appear when running ohai on the command line: `dmi[:bios][:all_records][0][:Vendor]` up to the dmi, which is the only present (see the ohai out

[2017-05-09 19:20] tas50 commented on #999
It looks like you're using the DO plugin from Chef 12.17.44. This plugin was completely rewritten for Chef 13 to poll the metadata endpoint and return all new information. Try updating a test node with to Chef 13 and feel free to open this back up if you're still not getting the right thing.

[2017-05-09 19:20] #999 closed

[2017-05-16 02:50] tas50 commented on #529
I realized that Chef wasn't detecting my zpool at home so I figured I'd check this out. It's not a huge change to make it happen on Linux. I'm working to make it more robust though so we can get it to work on BSD. Once I get someone with a BSD setup to give me some CLI outputs I'll update this PR

https://github.com/chef/ohai/pull/1001

[2017-05-23 14:04] kmf opened #1002 "When platform: clearos it's shows platform_family: blank"
When detecting platform: clearos,  it should display platform_family: rhel currently it's blank.

[2017-05-31 06:10] iennae commented on #1002
It's not clear that it should be rhel based on some of the documentation we're reading. While I've created PR #1004, this might be a case that it's more like fedora than rhel.

[2017-05-31 06:14] kmf commented on #1002
https://github.com/clearos/clearos-release

Based on CentOS, info based on their release package.

[2017-05-31 06:16] kmf commented on #1002
https://github.com/clearos/kernel... Kernel forked from CentOS

[2017-05-31 20:02] kylegoch opened #1005 "Weird Deprecation Issue Concerning Plugins in Chef 13"
Also filed at https://github.com/chef-cookbooks/ohai/issues/67 but may be more relevant here? Unsure.

## Description

When running chef-zero on Chef 13, we hit a deprecation warning that causes our build to fail. Other machines do not have this issue. Basically our Jenkins in AWS has this issue, our Macs do not.

## Ohai Version

Not sure, but using Chef 13.1.31

## Platform Version

Ubuntu 16.04

[2017-05-31 21:22] kylegoch commented on #1005
Actually not an Ohai issue. A cookbook was stuck in the local .berkshelf that shouldnt have been there. Clearing the berks shelf made Ohai happy.

[2017-05-31 21:22] #1005 closed

[2017-06-07 15:38] ant1441 opened #1011 "Filesystem plugin fails when missing command(s)"
## Description

When running Ohai on a minimal system lacking the required commands used by the 'filesystem' plugin, no output is produced.

For example, (on linux) if the `mount` command is missing, the `shell_out` function will fail at [filesystem.rb#L133](https://github.com/chef/ohai/blob/03a9cf30487f4ef281fb46a7e5c266fd778a0f93/lib/ohai/plugins/linux/filesystem.rb#L133), resulting in the `ohai

[2017-06-11 04:25] #906 closed

[2017-06-11 04:26] tas50 commented on #645
Closing this out due to lack of response. If this is still  an issue feel free to open it back up against the latest Ohai release.

[2017-06-11 04:26] #645 closed

[2017-06-11 04:27] #529 closed

[2017-06-11 04:27] tas50 commented on #529
This has been fixed and will be released in Ohai 13.2

[2017-06-11 04:29] tas50 commented on #530
I'm looking at parsing a bit more information out of the zpool status, but the output is pretty awful and only Linux contains flags to distinguish between drives and pools. It's kind of a bummer, but we can probably rely on the spacing to determine what type of data we're looking at

[2017-06-15 00:22] tas50 commented on #1002
This has been resolved on master and will ship in Ohai 13.2

[2017-06-15 00:22] #1002 closed

[2017-06-16 18:14] tas50 commented on #1011
We just merged some fixes to filesystem that make it a bit more resilient, but if you want to add some error handling in a PR I'd gladly accept that. You're right that we shouldn't bail on a single failure. We should keep trying to get any information we can.

[2017-06-17 04:27] msgarbossa opened #1015 "AIX RPM packages have the version embedded in the package name"
## Description

Ohai on AIX uses "lslpp -L -q -c" to capture package information on all package types, including LPP and RPM.

The LPPs are stored as expected:
    "bos.rte": {
      "version": "7.1.3.45"
    },

RPMs are stored with the version embedded in the package name:
    "wget-1.9.1-3": {
      "version": "1.9.1-3"
    },

In order to check the version attribute of the wget RPM, the versio

[2017-06-22 03:46] tas50 commented on #1015
@msgarbossa Can you paste the output of `lslpp -L -q -c` where wget is so I can add this to our unit test.

[2017-06-22 15:08] msgarbossa commented on #1015
Output for wget (RPM) and bos.rte (LPP):
# lslpp -L -q -c | grep ^wget:
wget:wget-1.9.1-3:1.9.1-3: : :C:R:A utility for retrieving files using the HTTP or FTP protocols.: :/bin/rpm -e wget: : : : :0: :/opt/freeware:Wed Nov  5 01:37:09 MST 2014
# lslpp -L -q -c | grep :bos.rte:
bos:bos.rte:7.1.3.45: : :C: :Base Operating System Runtime: : : : : : :1:0:/:

[2017-06-29 17:39] tas50 commented on #1015
The fix for this was just merged to master and will ship with Ohai/Chef 13.2. Thanks for the troubleshooting help

[2017-06-29 17:39] #1015 closed

[2017-07-06 16:33] aalmenar opened #1026 "Ohai 8.24.0 doesnt detect virtualization correctly inside a container running on LXC over Proxmox"
## Description

Running Ohai inside a LXC container running on proxmox returns incorrect variables on virtualization like:

  "virtualization": {
    "systems": {
      "kvm": "host"
    },
    "system": "kvm",
    "role": "host"
  },

## Ohai Version
8.24.0

## Platform Version
Debian 9.0

## Explanation
Checking the code here, https://github.com/chef/ohai/blob/ec980071ce34627701f039c0deae37022b4

[2017-07-06 16:49] aalmenar opened #1027 "Ohai 8.24.0 doesn't detect virtualization correctly of a Host LXC using Proxmox as HV"
## Description
Ohai does not detect a host is able to run lxc containers especially a proxmox server.

## Ohai Version
8.24.0

## Platform Version
Proxmox 5.0

## Ohai Output
  "virtualization": {
    "systems": {
      "kvm": "host"
    },
    "system": "kvm",
    "role": "host"
  },

This does not include LXC as host.

The code here https://github.com/chef/ohai/blob/ec980071ce34627701f039c0deae3

[2017-07-06 17:14] thommay commented on #1027
Can we close this issue and consolidate in #1026? Also, ohai 8 is now only receiving security and major bug fixes; please can you test with ohai 13 and see if the problem still exists - I imagine it does.

[2017-07-06 17:15] aalmenar commented on #1027
I understand, but this is the version available with omnibus chef-client download for chef 12. Not all opscode cookbooks work with chef 13.

[2017-07-06 17:16] aalmenar commented on #1026
## Description
Ohai does not detect a host is able to run lxc containers especially a proxmox server.

## Ohai Version
8.24.0

## Platform Version
Proxmox 5.0

## Ohai Output
  "virtualization": {
    "systems": {
      "kvm": "host"
    },
    "system": "kvm",
    "role": "host"
  },

This does not include LXC as host.

The code here https://github.com/chef/ohai/blob/ec980071ce34627701f039c0deae3

[2017-07-06 17:21] aalmenar commented on #1027
BTW, tested with ohai 13 issue is the same:

ohai -v
Ohai: 13.2.0

[2017-07-06 17:21] aalmenar commented on #1026
Tested both with ohai 13 as requested on #1027  and the issue is the same.

[2017-07-06 17:29] thommay commented on #1027
since you mentioned it, which cookbooks are you having problems with on chef 13? Thanks for moving the info over to the other bug.

[2017-07-06 17:42] aalmenar commented on #1027
My mistake, it was other cookbooks from the supermarket.

[2017-07-06 17:43] thommay commented on #1027
ok, no problem. I'm gonna close this ticket now.

[2017-07-06 17:43] #1027 closed

[2017-07-07 11:27] aalmenar commented on #1027
BTW. as a comment the cookbook that doesnt work with chef 13 is https://github.com/chef-cookbooks/mysql kitchen test fails but if set to 12 works flawlessly.

[2017-07-13 20:23] rwcee commented on #686
@tmaier @lamont-granquist - This appears to have been fixed in the following commit: https://github.com/chef/ohai/commit/c509235734d49c44f9e23ea08f941be7972c848f

[2017-07-14 00:38] #686 closed

[2017-07-14 00:39] tas50 commented on #686
Closing this out based on @rwcee's comment. Feel free to keep it going if you're still having issues.

[2017-07-14 00:41] tas50 commented on #996
The endpoint has gone GA so we can implement this now

[2017-07-20 03:35] jerryaldrichiii opened #1037 "Unable to detect CPU Cores count on SLES 12"
## Description

The Linux CPU plugin uses `/proc/cpuinfo` in order to calculate the number of cores.

https://github.com/chef/ohai/blob/master/lib/ohai/plugins/linux/cpu.rb#L52

However, SLES does not have a line matching `/cpu cores\s+:\s(.+)/` in `/proc/cpuinfo` so the value gets set to `0`.

This prevents Automate 1.5 running on SLES from being able to ingest data for Visibility due to the foll

[2017-07-20 04:52] tas50 commented on #1037
Have any magical way to find CPUs on SLES?

[2017-07-20 05:11] jerryaldrichiii commented on #1037
Maybe count `processor` lines? Though not sure how to get cores though.

Here is the output of `cat /proc/cpuinfo` for SLES and CentOS

## SLES 12 SP1
[code]

## CentOS 7.2
[code]

`nproc` would also get number of processors, but I can't find anything on cores.

http://man7.org/linux/man-pages/man1/nproc.1.html

[2017-07-20 13:19] jerryaldrichiii commented on #1037
The customer I am working with who works with SLES says that the number of processors is the same as the number of cores on a SLES box.

With that in mind we can count the `processor` lines or use `nproc` to get the value for `node['cpu']['cores']` in Ohai.

[2017-07-20 16:28] tas50 commented on #1037
I'll see what I can do so we can fix this in 13.3

[2017-07-30 18:32] tas50 commented on #1037
Well I went to test this and apparently it's fixed in SP2. I'll grab a SP1 box to try to fix it

[2017-07-31 05:18] tas50 commented on #1037
lscpu has the data when it's around. I added logic to fallback to lscpu, which is there if util-linux has been installed. This is fixing it on a SLES 11 SP4 box, which has the same problem.

[code]

[2017-07-31 05:22] tas50 commented on #1037
https://github.com/chef/ohai/pull/1038

[2017-08-02 15:51] raghuteja9 opened #1041 "Bootstrap taking close to 10 mins through Unattended install"
## Description

We are trying to bootstrap nodes in our environment with our Chef Server and doing it through Unattended installation. When we are bootstrapping it , its taking close to 10 mins. When I enabled the debug mode and looked at the Logs, I saw that the IpScopes Plugin and the Filesystem plugin were taking close to 9 mins. When i Disabled the Filesystem Plugin, it is taking 4 mins. What

[2017-08-08 14:30] raghuteja9 commented on #1041
Hi Team,

Can anyone look into this or has it been resolved in any of the recent releases?

[2017-08-08 15:06] thommay commented on #1041
@raghuteja9 there's not anything we can reasonably do here - your log reveals that the df commands that ohai runs are taking a long time to complete. If you don't use the filesystem plugin, then you should turn it off, but I would investigate the commands that ohai runs:
 * `df -P`
 * `df -iP`
 * `mount`
 * `lsblk -n -P -o NAME,UUID,LABEL,FSTYPE`
 * `blkid`

and figure out which one is slow and wh

[2017-08-08 16:32] tas50 commented on #1041
@raghuteja9 It also might be worth giving Chef 13 a try as that ships with Ohai 13. In Ohai 13 we removed our existing filesystem plugin and now use only what was know as Filesystem2 in the version of Ohai that you are on. That change *should* significantly reduce the number of calls being made to filesystem utilities.

[2017-08-22 16:54] tas50 commented on #1037
Fixed on master!

[2017-08-22 16:54] #1037 closed

[2017-08-22 21:49] makuser opened #1046 "[BUG] Segmentation fault at 0x00000000000000"
## Description
Starting Starting Chef Client, version `12.12.15` yields a stacktrace

## Ohai Version
`ohai-8.15.1`

## Platform Version
[code]

## Ohai Output
[code]

[2017-08-23 23:34] jeunito commented on #1011
@tas50 I made a PR for this

[2017-09-06 16:37] cheeseplus commented on #1046
I'm not clear that this is a bug in Ohai - moreover the current version of Ohai is much newer than what is packaged with chef 12.12.15. This seems like something that should be filed upstream with GitLab.

As a test, on this machine are you able to run `ohai` without segfault?

[2017-09-06 16:42] cheeseplus commented on #956
The desire is straightforward enough but as you surmise, soft failure is ABSOLUTELY critical to running Ohai in the context of a chef-client run as if Ohai blows up with an exception the whole thing comes crashing down.

This is to say there is very little we can do to prevent these things as that resilience to individual plugin failure is somewhat bound up in the design of Ohai. It'd be more feas

[2017-09-06 19:28] Stromweld opened #1050 "ohai ec2 plugin bug for server migrated from vmware environment into the AWS cloud"
## Description

After migrating a windows 2012r2 and 2008r2 server from our local vmware environment to aws using the aws connector plugin for vmware chef-server failed to load the ec2 plugin and detect that the server is in AWS. To fix this I had to manually add an empty file c:\chef\ohai\hints\ec2.json.

After talking to @cheeseplus on slack he said this was a bug and I should open an issue here

[2017-09-06 19:29] Stromweld commented on #1050
Here's the chef-client output error:
[code]

[2017-09-06 19:30] Stromweld commented on #1050
and here is the stacktrace from the chef-client run:
[code]

[2017-09-06 19:48] tas50 commented on #1050
@Stromweld This is a tough one. We have a limited set of tools on Windows that help us to determine what kind of environment we're running on. We rely a lot on the manufacturer information that Amazon sets on the OS. If you can find anything else non-intrusive we could query on the OS side to determine that we're running in EC2 that would be really helpful. Otherwise you'll have to rely on the hin

[2017-09-06 20:02] Stromweld commented on #1050
I know it installed the EC2ConfigService, drivers, etc.... for windows automatically during the migration so there may be registry things that could be queried for to hint to ohai that this server is in AWS. You could also try a curl command to the ec2 meta-data and based on the output hint to ohai that it's an EC2 instance. http://169.254.169.254/latest/meta-data/.

I'm not sure if azure or googl

[2017-09-06 20:06] tas50 commented on #1050
Let me spin up a windows node in EC2 and see if I can expand upon our detection other than just querying out to the metadata service. We try to avoid that since it can cause issues in some environments that aren't ec2.

[2017-09-06 20:24] tas50 commented on #1050
@Stromweld Do you have all the EC2 device drivers?

![screen shot 2017-09-06 at 1 19 55 pm](https://user-images.githubusercontent.com/1015200/30132845-af37f69a-9306-11e7-9495-87630d3dc634.png)

[2017-09-06 20:28] Stromweld commented on #1050
if the instance isn't a cloud machine then the url would return a non 200 http request code(which could be various error codes) and thus be known to not be in a cloud. Looks like AWS and Azure use the same base url to get instance meta-data, but have unique outputs. Google uses a very different url but still only accessible from within their cloud.

Here's links I found to docs on the major cloud

[2017-09-06 20:30] Stromweld commented on #1050
I do have some, I expanded the ones with AWS in the name otherwise the other catagories didn't have drivers that indicated they'd be unique to AWS.

![screen shot 2017-09-06 at 3 26 21 pm](https://user-images.githubusercontent.com/3476391/30133095-25d11eec-9318-11e7-99e9-9f7515eaf56a.png)

[2017-09-06 20:32] tas50 commented on #1050
Any chance you have the AWS network driver?

[2017-09-06 20:34] Stromweld commented on #1050
Not on the machine I migrated from vmware. It has the intel 82599 Virtual Function driver.

[2017-09-06 20:35] Stromweld commented on #1050
I did also find a few services that AWS must of installed as well.
Amazon SSM Agent
AWS Lite Guest Agent
Ec2Config

![screen shot 2017-09-06 at 3 31 33 pm](https://user-images.githubusercontent.com/3476391/30133295-fb4d9168-9318-11e7-8aa7-87beb7ff5028.png)

[2017-09-06 20:38] Stromweld commented on #1050
Looking at another native AWS windows instance I don't see the Amazon SSM Agent but I do see the AWS Lite Guest Agent and the Ec2Config services.

[2017-09-06 20:40] tas50 commented on #1050
I have AWS Lite Guest Agent on a node I just spun up, but not the ec2config service. I'll see if I can add detection based on AWS Lite Guest Agent. That'll probably rope in a few more instances that we didn't catch before.

[2017-09-06 21:20] tas50 commented on #1050
[code]

[2017-09-06 21:34] Stromweld commented on #1050
Just double checked and our Windows Server 2008r2 server that was migrated from vmware to aws also has those same services as well. It also has these drivers if your interested:

<img width="575" alt="screen shot 2017-09-06 at 4 29 59 pm" src="https://user-images.githubusercontent.com/3476391/30135618-36a91c5c-9321-11e7-9563-9636456f8ed9.png">

[2017-09-06 22:04] tas50 commented on #1050
Also for anyone searching in the future here Amazon stopped using EC2Config with Windows 2016

[2017-09-06 22:47] Stromweld commented on #1050
found this in aws docs on how to identify if an instance is EC2 instance or not:
http://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/identify_ec2_instances.html

[2017-09-07 20:24] tas50 commented on #1050
This is fixed on master and will ship with the next Chef/Ohai. Thanks for the help tracking down the right approach @Stromweld

[2017-09-07 20:24] #1050 closed

[2017-09-07 20:25] tas50 commented on #1011
This has been fixed on master and will ship in the next Ohai/Chef release. Thanks @jeunito for tackling it

[2017-09-07 20:25] #1011 closed

[2017-09-07 20:27] tas50 commented on #956
@cheeseplus Is absolutely right here. Ohai purposefully does everything it can do to never fail the overall Ohai run. A failure would result in missing data for Chef and that could have some pretty serious converge impacts during a Chef run. Sometimes it seems like Ohai should probably fail in a way that better trickle up to the user, but priority 1 always has to be providing as much data as possi

[2017-09-07 20:27] #956 closed

[2017-09-07 20:27] #853 closed

[2017-09-07 20:28] tas50 commented on #853
Turns out this is next to impossible in any useful way since they can be installed per user and Ohai is just running as root.

[2017-09-07 20:29] tas50 commented on #614
@lancepowell I'm going to close this bug out at this point. I think @lamont-granquist has it right here. This is really something you should do with a custom ohai plugin since where that data is stored is going to different between vendors and orgs.

[2017-09-07 20:29] #614 closed

[2017-09-07 20:30] #577 closed

[2017-09-08 19:32] tas50 opened #1054 "Switch to /etc/os-release to identify SLES"
From the SLES 12 SP3 release notes:

[code]

[2017-09-08 23:51] jeunito commented on #833
This was an issue for me too. I have made another PR with tests passing at https://github.com/chef/ohai/pull/1055

[2017-09-09 02:56] tas50 commented on #833
This should be fixed on master now with the updated PR from @jeunito

[2017-09-09 02:56] #833 closed

[2017-09-09 03:36] #1041 closed

[2017-09-09 18:59] jaymzh commented on #956
One of the features I've wanted for a long time is the ability to mark certain plugins as critical (https://github.com/chef/ohai/issues/879) - plugins you know that without, you'll fuck your system.

[2017-09-11 17:53] #996 closed

[2017-09-11 17:53] tas50 commented on #996
Shipped in Ohai 13.4

[2017-09-15 15:49] q53 commented on #791
Any changes?
After update chef client to 12.21.3-1.el7 half of my nodes became unmanaged.

[2017-09-15 16:06] tas50 commented on #791
@betawaffle Can you send me your route output by chance. I have the fix to the regex, but I need to get a test setup for your scenario.

[2017-09-15 16:29] tas50 commented on #791
This needs a test, but it should do ithttps://github.com/chef/ohai/pull/1058

[2017-09-19 18:21] tas50 commented on #1054
We're currently doing Suse detection here:

https://github.com/chef/ohai/blob/master/lib/ohai/plugins/linux/platform.rb#L197

We'll need to take the output of /etc/os-release and make sure we don't misdetect as another platform, but overall this should be a fairly straight forward change.

[2017-09-19 18:53] tas50 commented on #917
I'm open to changing this. It's been a frustration of mine since the init_package attribute was launched in the first place. It would need to go into Ohai 14 since it's a breaking change, but I think it would make a lot of people quite happy.

[2017-09-19 18:56] tas50 commented on #576
I'd gladly merge a fix for this issue @ganeshrn, but I don't have any junos devices to develop a fix on. If someone out there with a junos box wants to put something together that would be great.

[2017-09-19 19:01] tas50 commented on #519
@jarosser06 Any chance there's a binary or other file present on the windows images that we could key off. We're looking for kernels' on Linux and also provider information using 'xenstore-read vm-data/provider_data/provider'.

[2017-09-19 20:46] jarosser06 commented on #519
I'm not sure TBH I haven't done much with Windows images on Rackspace infrastructure.

[2017-09-19 21:55] #791 closed

[2017-09-19 21:56] tas50 commented on #791
This will go go out in the next release of chef/ohai. Thanks for the report

[2017-09-22 17:10] heaven opened #1062 "Incorrectly determined cloud provider"
Our cluster is deployed to Digital Ocean (NY2), 24 nodes and 4 nodes detected as `ec2` instead of `digital_ocean`. This causes bugs in other cookbooks that rely on this data.

## Ohai Version
2.1.0 (I know it's old but we can't upgrade currently due to other dependencies)

## Platform Version
Ubuntu 14.04.5 LTS
Chef 12.8

## Ohai Output

Corrent data:
[code]

Incorrect data:
[code]

Both nodes are

[2017-09-22 17:41] tas50 commented on #1062
@heaven Can you send me the output of ohai -l debug?

[2017-09-23 07:45] heaven commented on #1062
@tas50 [ohai-debug.json.zip](https://github.com/chef/ohai/files/1326363/ohai-debug.json.zip)

Also, noticed the gem version is 8.19.2

[2017-09-25 21:52] tophercullen commented on #519
@tas50 Its been a while since I last provisioned in Rackspace, but to my knowledge that even this store is incorrect in linux (see my previous comment).

[2017-09-26 18:46] tas50 commented on #1054
/etc/SuSE-release
[code]

/etc/os-release
[code]

[2017-10-03 23:56] jeunito commented on #1011
@ant1441 please beware that this isn't the default behavior anymore but is still available https://github.com/chef/ohai/pull/1047

[2017-10-04 22:17] #879 closed

[2017-10-10 22:42] tas50 commented on #1062
@heaven Can you try upgrading this node to Chef 13 and running it again? We've made a bunch of changes to EC2 and Digital Ocean detection that I'm fairly certain resolves this.

[2017-10-11 22:16] dkowis opened #1072 "filesystem plugin timed out (df -P took over 30 seconds)"
## Description

Apparently `df -P` takes over 30 seconds to complete on my VM, I think because I have NFS mounts. Is there any way to exclude those NFS mounts? I'm interested in the mounted local filesystems, not the network mounted filesystems.

[code]
## Ohai Version

8.23.0

## Platform Version

Ubuntu 16.04.3

[2017-10-12 22:11] sean-horn opened #1074 "uptime_seconds and uptime should match on AIX"
## Description

On a given AIX system, the uptime_seconds and uptime do not match.

uptime_seconds in the following case should be 4630366, not 1503190745

[code]

Therefore, our uptime_seconds is actually just the elapsed_seconds on AIX, not the current time minus the elapsed seconds. This will ensure screens on Manage/Automate that use these attributes remain accurate.

## Ohai Version

13.4.x a

[2017-10-13 09:26] thommay commented on #1074
This is due to the work done in #1049 to handle uptimes greater than a year. @rmcleod8 do you have thoughts here?

[2017-10-13 13:14] rmcleod8 commented on #1074
Ah totally my oversight. uptime_seconds in #1049 is set to epoch. :|

I saw @sean-horn submitted a PR to fix but is now closed?

There was a requirement where I work to provide uptime in epoch, I'd be happy to add an additional field here for uptime_epoch(dont ask) and update uptime_seconds = elapsed

[2017-10-13 13:18] thommay commented on #1074
Yep, that sounds great

[2017-10-14 01:24] rmcleod8 commented on #1074
@thommay @sean-horn submitted above PR to change uptime_seconds to reflect elapsed seconds. Looks like one of the travisCI configs is borked tho... https://travis-ci.org/chef/ohai/jobs/287800296

[2017-10-18 16:39] lamont-granquist opened #1076 "Turn off Passwd plugin by default in Chef 14"
It generates vastly more pain than its utility.

(this may require some engineering to support plugins that are off-by-default, but that needs to get done for 14)

[2017-10-21 06:40] sznicolas opened #1078 "Bug in ohai aix filesystem plugin"
## Description
filesystem attribute not present on certain AIX nodes. Versions : AIX 7.2 with chef-13.2.20-1.powerpc.bff

## Ohai Version
chef-13.2.20-1.powerpc.bff

## Platform Version
 AIX 7.2

## Ohai Output

[code]

The problem seems to be that the last line returned by mount is not compliant with /opt/chef/embedded/lib/ruby/gems/2.4.0/gems/ohai-13.2.0/lib/ohai/plugins/aix/filesystem.rb line 6

[2017-10-24 17:07] #1062 closed

[2017-10-24 17:07] tas50 commented on #1062
Closing this out since the code was reworked in later releases

[2017-10-24 17:07] #1074 closed

[2017-10-24 17:07] tas50 commented on #1074
Closing this out since we've merged the fix. This will go out in the next ohai/chef release

[2017-10-31 17:08] schredder commented on #956
For those who stumble upon this later, Ohai 13.6 added support to declare "critical plugins" that "will cause Ohai to fail if they don't run successfully (and thus cause a Chef run using Ohai to fail)".

See the full Chef Client 13.6.0 release notes [here](https://discourse.chef.io/t/chef-client-13-6-0-released/11843).

[2017-11-01 03:20] scalp42 commented on #1076
@lamont-granquist could you share the issue with the passwd plugin?

[2017-11-01 03:39] MarkGibbons commented on #1076
If a place authenticates via Active Directory using VAS, SSSD or Centrify there's an excellent chance of reporting many thousands of password users from every server.  None of the information reported is actually useful or really related to the node.  In my case the ohai data starts to approach 1M per server.

[2017-11-01 18:21] scalp42 commented on #1076
I see @MarkGibbons, not an issue here but it totally makes sense.

Thanks for the insight 👍

[2017-11-07 19:53] nate opened #1082 "Detect New EC2 Instances"
## Description

There was a [new EC2 instance class announced yesterday](https://aws.amazon.com/about-aws/whats-new/2017/11/introducing-amazon-ec2-c5-instances-the-next-generation-of-compute-optimized-instances/). They apparently use some new hypervisor tech (`C5 instances are built using a new light-weight hypervisor`) that fails Ohai's EC2 detection.

## Ohai Version

8.15.1 and 13.6.0

## Platf

[2017-11-07 21:04] nate commented on #1082
`/sys/class/dmi/id/` has some things that might be useful for detecting EC2.

[code]

[2017-11-07 21:04] nate commented on #1082
Although, I'm not sure if these are specific to Amazon Linux or not...

[2017-11-07 21:20] tas50 commented on #1082
We have some new options for detecting the instances. I'm taking a look at it now.

[2017-11-07 21:22] nate commented on #1082
Thanks!

[2017-11-07 22:48] tas50 commented on #1082
I need to redo all the tests, but this fixes the detection issue: https://github.com/chef/ohai/pull/1083

[2017-11-13 21:02] sean-horn opened #1089 "Ohai Hard Limit on Sessions"
## Description

Support has seen a couple of the following issue lately. Over time, thousands of operating system login sessions can be started up and not registered as closed by systemd's logind, because presumably, the sessions are stuck open by a process that was not shut down. This can happen with monitoring logins and other kinds of periodic logins. For example: https://forums.fedoraforum.org

[2017-11-15 23:30] mswilson commented on #1082
I left this same comment in #1083

This change does not exclusively use the documented detection methods found here:  http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/identify_ec2_instances.html

"Amazon" in a BIOS vendor field is **not** guaranteed to **not** change.

If you are looking for an additional piece of information on which to key EC2 instance detection, the EC2 instance ID is provide

[2017-11-16 18:36] tas50 opened #1091 "Don't use md5 in the shard plugin"
The shard plugin can't use MD5 since that violates FIPS. It's easy enough for us to switch this to SHA1.

[2017-11-17 04:41] sonic0002 opened #1092 "FIPS support of shard plugin"
## Description

Should we change the digest algorithm from MD5 to something else to support FIPS?

## Ohai Version

ohai-8.25.0

## Platform Version

All Linux

## Ohai Output

Initially, the Chef client run output with FIPS enabled (**fips true** in **client.rb**) is:

Then we noticed that **shard** is a built-in plugin of Chef and it uses MD5 to generate the seed and it failed the OpenSSL assert

[2017-11-17 06:08] tas50 commented on #1091
Dupe of https://github.com/chef/ohai/issues/1092

[2017-11-17 06:08] #1091 closed

[2017-11-20 06:38] bish0polis commented on #1089
Can confirm this makes a HUGE difference on my RHEL7/chef-12.20.3 client.  I limited mine to  50:

[code]

.. and my 413 error went away, this time.

Thanks for the excellent and searchable answer, Sean - for one contributing factor at least - and making my night.

[2017-11-21 04:36] spuder opened #1093 "Windows 2012/2016 'core' edition indistinguishable from 'gui' editions"
ohai has no way of differentating  'headless' (aka 'windows core edition') and 'gui based' windows installations.

Here is from a windows 2016 Standard Core server

'Core' shows up nowhere in ohai
[code]

The OS Name is the same regardless if 'Standard' or 'Standard Core'
[code]

Some windows features wont install on 'core' edition. There needs to be a way to make a cookbook work on both 'gui' and

[2017-12-04 22:47] majormoses commented on #917
So that works when it's upstart but systemd does not support the `--version`. I honestly think we are going to have to rely on multiple pieces of information and try several bad things to actually determine it correctly. If only they could all get together and give us a real api of some sort to determine this.

[2017-12-05 00:19] tas50 commented on #917
the other problem is init_package should also be init_packages since there's the possibility of supporting more than 1. RHEL 6 for example does sys-v and upstart.

[2017-12-05 02:55] majormoses commented on #917
Ya most distros actually provide more than one init system. Ubuntu has supported `sys-v`, `upstart`, and `systemd` since at least `14.04`. Will need to use multiple pieces of information to determine "prefered" init system even if it supports multiple. So far this is what I have found:
when `/proc/1/comm` == `systemd` that is pretty definitive that it is prefered. When it is `init` it is `upstart`

[2017-12-05 03:00] majormoses commented on #917
Seeing the output from a bunch of systems should let us know if we still need more checks to properly determine.
[code]

Another option for systemd detection that is probably less reliable (and unlikely needed) would be to grep the `/sbin/init` binary for `systemd`. I believe the same will work for upstart. These checks will be super brittle in comparison though so I hope they are not needed.

[2017-12-18 20:53] haidangwa commented on #1089
Maybe a bit too obvious, but since no one mentioned it yet, I thought I'd throw out there. If you're not interested in tracking the linux session data in your node data, simply disable the `:Sessions` plugin.

[2017-12-18 21:01] thommay commented on #1089
we're going to disable the sessions plugin in Chef 14 by default: https://github.com/chef/chef-rfc/pull/289

[2017-12-19 00:51] majormoses commented on #917
If anyone who has access to a very diverse set of platforms could run the script posted above and share the outputs in a gist that would be great. If we can confirm that the added checks help ensure the appropriate outcome I can work on a PR.

On the note of specialized systems like  `rancheros` which have some form of docker as PID 1 I have no idea how we should handle that. Not sure if we should

[2017-12-21 16:31] trickyearlobe commented on #1037
This came up for a customer installing Chef Automate 1.7.114 on SLES12sp1 with `chef_ingredient`

A workaround is to add `logstash['config']['pipeline']['workers'] = 2` in `/etc/delivery.rb`

[2017-12-21 20:02] tas50 commented on #519
Turns out there's no real way to gather this information on Windows at the moment. I'm going to close this out unless someone can present a way to gather the information.

[2017-12-21 20:02] #519 closed

[2017-12-21 22:21] jvogt commented on #1082
EC2 detection not working in a centos m5.large either.

[code]

[2017-12-26 21:34] funzie19 commented on #826
I think I am getting a similar issue, but with GCE in my case. I am building a Packer images using GCE's new nested virtualization support. Chef runs inside the image that I'm building. I am building the image using Virtualbox. However Ohai detects it as GCE. I also noticed that there is no way of setting a hint file for Virtualbox as the plugin doesn't even check for an existing hint file.

[2018-01-03 21:33] mrala commented on #1026
@aalmenar,  is this still an issue? It looks like there is now a check for `lxc-start`, in addition to `lxc-version`:

https://github.com/chef/ohai/blob/v13.7.0/lib/ohai/plugins/linux/virtualization.rb#L25

[2018-01-08 21:54] lchi commented on #1082
Thanks for the fix in ohai 13, but are there any plans to backport this to version 8?

[2018-01-10 17:26] dsalazar-carecloud opened #1110 "Docker for Mac update seems to have hosed Ohai virtualization system output."
## Description

I updated my Mac's install of Docker for Mac to the newest version (Version 17.12.0-ce-mac46 (21698)) and now cookbooks that check for the virtualization type are failing because the run is yielding an empty object.

[code]
After diving into the resulting container to investigate what could be the potential issue I discovered that the regular expression that ohai is using to set th

[2018-01-10 19:49] tas50 commented on #1110
@dsalazar-carecloud Can you give this a try on the latest Ohai. 8.16 is pretty old at this point and we've changed a lot of code since then.

[2018-01-10 20:04] dsalazar-carecloud commented on #1110
@tas50 sure I'll give that a go.  The regex does look the same though in the master branch.  I'll report on my findings as soon as I get some more information.

https://github.com/chef/ohai/blob/master/lib/ohai/plugins/linux/virtualization.rb#L182-L183

[2018-01-10 20:45] dsalazar-carecloud commented on #1110
@tas50 here are my latest findings.
[code]

[2018-01-11 00:26] #1110 closed

[2018-01-11 00:26] tas50 commented on #1110
Fix shipped in 13.7.1

[2018-01-11 01:07] dsalazar-carecloud commented on #1110
Awesome sir, very appreciated.  Any way to apply this patch to the ~> 8.26 version of Ohai.  Mainly for us Chef 12 users?

[2018-01-16 18:54] tas50 commented on #1110
If a PR is opened to bring this into Ohai 8 I'll merge that.

[2018-01-20 16:28] dsalazar-carecloud commented on #1110
Great news I'll get on that.  Appreciate it.

[2018-01-20 16:41] dsalazar-carecloud commented on #1110
Looks like someone got to it before I did #1118.  👍

[2018-01-25 21:57] tas50 commented on #1082
This has been backported to Ohai 8. We're working on some openssl issues that impact our docker containers and once that's complete we'll get 1 last chef 12 release out the door before it goes EOL.

[2018-01-29 23:35] tas50 commented on #1026
Closing this out since we haven't heard back about the new lxc detection. If this is still a problem in Ohai 13.7 feel free to open it back up and I'll see what we can do about improving that detection.

[2018-01-29 23:35] #1026 closed

[2018-01-29 23:37] tas50 commented on #826
@funzie19 Our GCE detection is less than ideal. We just try to hit the metadata endpoint and that'll succeed for a nested VM as well. As for the virtualbox plugin that won't get you anything on the guests so we don't run it. You need to be a host for that plugin to figure.

[2018-01-29 23:40] tas50 commented on #826
I'm going to close this issue out at this point. We've done a lot of things to our code since 8.15 to improve how we detect various virtualization technologies. We can't change the underlying data structure there though since that would break every existing user keying off the current structure. I'm not sure the current structure limits us for what you want though. We can always produce a data str

[2018-01-30 00:08] tas50 opened #1126 "Chef 15: Remove legacy data in the Virtualization plugin"
Before we introduced node['virtualization']['systems'] we used  node['virtualization']['system'] and  node['virtualization']['role']. This only allowed for a single virtualization, but we detected multiple technologies so the last writer won. We introduced the systems array in Chef 11 (pretty sure) which provides a much more reliable way to detect virtualization systems. We should create a Foodcri

[2018-01-30 00:51] tas50 commented on #488
Closing this out since it looks like we fixed in Oct.

[2018-01-30 00:51] #488 closed

[2018-02-24 05:15] thewyzard44 opened #1137 "RFC: LXD guest detection"
## Description

An option has recently been introduced into LXD that can obscure this socket endpoint from an LXD guest instance, and thereby prevent ohai from detecting that you are an LXD 'guest'.

https://github.com/chef/ohai/blob/master/lib/ohai/plugins/linux/virtualization.rb#L230-L233

If anyone is depending upon `node['virtualization']['system'] == 'lxd'` && `node['virtualization']['role']

[2018-02-25 05:42] #1089 closed

[2018-02-25 05:43] tas50 commented on #1089
Closing this out now since the solution we took for Chef 14 was to disable the Sessions plugin out of the box. It's been pretty problematic as this thread shows and it's something that most people probably don't need. There will be additional information in the release notes on how to enable it if it's necessary for users.

[2018-02-25 05:49] tas50 commented on #1076
This has been disabled by default now with a method to reenable it. We'll have additional documentation up on the docs site and information in the release notes once Chef/Ohai 14 comes out.

[2018-02-25 05:49] #1076 closed

[2018-02-25 05:50] #576 closed

[2018-02-25 05:50] tas50 commented on #576
Closing this one out since we never heard back about gathering additional data

[2018-02-25 05:51] tas50 opened #1138 "Add plugin for displaying installed windows features"
We ship one with the windows cookbook. We should do this out of the box

[2018-02-27 00:41] tas50 commented on #1093
Fixed by #1142

[2018-02-28 13:48] thommay commented on #924
They've gone!

[2018-02-28 13:48] #924 closed

[2018-02-28 18:06] #1093 closed

[2018-02-28 18:06] tas50 commented on #1093
This was merged to master and will ship in Ohai/Chef 14

[2018-02-28 18:07] tas50 commented on #1092
We've marked the shard plugin as optional which means out the box it won't load and this resolves the FIPS warnings

[2018-02-28 18:07] #1092 closed

[2018-03-01 21:24] dal13002 opened #1150 "Softlayer disabled support for tls 1.0 and 1.1"
## Description

As of March 1, softlayer disabled support for tls 1.0 and 1.1 . This broke softlayer calls in this repo: I think here https://github.com/chef/ohai/blob/master/lib/ohai/mixin/softlayer_metadata.rb#L50 . I'm pretty sure the solution is to make this line `net.ssl_version = "TLSv1_2"`

## Ohai Version

Ohai: 8.7.0

## Platform Version

Redhat 7

## Ohai Output

[code]

[2018-03-01 21:27] dal13002 commented on #1150
@tas50 @lamont-granquist

[2018-03-01 21:45] duncaan commented on #1150
https://github.com/chef/ohai/pull/1149

[2018-03-02 00:20] tas50 commented on #1150
This has been merged to master and chef-13. Thanks for the report

[2018-03-02 00:21] #1150 closed

[2018-03-02 00:21] #1138 closed

[2018-03-09 20:23] tas50 opened #1159 "Use similar logic in Azure that we use in EC2 for finding the best metadata endpoint"
Depending on where you are in Azure there are varying levels of metadata endpoints available to you. We currently can't support the latest version due to this. We should instead move to the EC2 method where we have an array of known working versions and we use the latest one available to us. This would allow us to use the latest and greatest while still supporting things like government azure that

[2018-03-09 20:24] #1054 closed

[2018-03-09 20:24] tas50 commented on #1054
@yeoldegrove Did this one for us.

[2018-03-09 20:24] #903 closed

[2018-03-09 20:24] tas50 commented on #903
Closing this one out since it appears to be an OS issue not a Chef issue

[2018-03-14 20:49] sean-horn opened #1162 "Add backport of Softlayer cloud plugin fix to Ohai 13.8.x"
## Description

In order to preserve functionality, Ohai 13.8.x should have a backport of  https://github.com/chef/ohai/pull/1155 and result in a stable release of Chef Client 13.8.x containing the updated Ohai code.

Customers running on Softlayer are missing this functionality right now